@page "/pedidomanager"

@using Radzen
@using Radzen.Blazor


@using GeneralLabSolutions.WebAPI.DTOs
@using mamix.Services.Pedidos

@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager // This line is used to generate URLs dynamically //

@inject IPedidoService _pedidoService



<!-- Page Header -->
<div class="my-4 page-header-breadcrumb d-flex align-items-center justify-content-between flex-wrap gap-2">
    <div>
        <h1 class="page-title fw-medium fs-18 mb-2">Pedidos</h1>
        <div class="">
            <nav>
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Cadastro</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Lista de Pedidos</li>
                </ol>
            </nav>
        </div>
    </div>

</div>
<!-- Page Header Close -->



<div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">
                    Lista de Pedidos
                </div>
            </div>
            <div class="card-body">



                @if (pedidos == null)
                {
                    <p>Carregando Pedidos...</p>

                } else
                {
                    <RadzenDataGrid Data="@pedidos"
                                    ColumnWidth="200px"
                                    AllowPaging="true" PageSize="10"
                                    AllowSorting="true"
                                    AllowFiltering="true">

                        <Columns>
                            <RadzenDataGridColumn Property="@nameof(PedidoGridDto.Id)" Title="ID" />
                            <RadzenDataGridColumn Property="@nameof(PedidoGridDto.ClienteId)" Title="Cliente ID" />
                            <RadzenDataGridColumn Property="@nameof(PedidoGridDto.VendedorId)" Title="Vendedor ID" />
                            <RadzenDataGridColumn Property="@nameof(PedidoGridDto.StatusDoPedido)" Title="Status do Pedido" />
                            <RadzenDataGridColumn Property="@nameof(PedidoGridDto.DataPedido)" Title="Data do Pedido" />
                        </Columns>
                    </RadzenDataGrid>
                }


            </div>
        </div>
    </div>
</div>





@code {
    private IEnumerable<PedidoGridDto>? pedidos;

    protected override async Task OnInitializedAsync()
    {
        pedidos = await _pedidoService.ObterPedidosAsync();
    }
}
