@page "/index3"
@using ApexCharts
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager // This line is used to generate URLs dynamically //


                    <!-- Start::page-header -->
                    <div class="my-4 page-header-breadcrumb d-flex align-items-center justify-content-between flex-wrap gap-2">
                        <div>
                            <h1 class="page-title fw-medium fs-18 mb-2">Ecommerce</h1>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="javascript:void(0);">
                                        Dashboards
                                    </a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Ecommerce</li>
                            </ol>
                        </div>
                        <div>
                            <button class="btn btn-primary-light btn-wave me-2 waves-effect waves-light">
                                <i class="bx bx-crown align-middle"></i> Plan Upgrade
                            </button>
                            <button class="btn btn-secondary-light btn-wave me-0 waves-effect waves-light">
                                <i class="ri-upload-cloud-line align-middle"></i> Export Report
                            </button>
                        </div>
                    </div>
                    <!-- End::page-header -->

                    <!-- Start:: row-1 -->
                    <div class="row">
                        <div class="col-xl-9">
                            <div class="row">
                                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                                    <div class="card custom-card">
                                        <div class="card-body p-4">
                                            <div class="main-card-icon primary mb-4">
                                                <div class="avatar avatar-lg bg-primary-transparent border border-primary border-opacity-10">
                                                    <div class="avatar avatar-sm svg-white">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><rect x="32" y="72" width="192" height="136" rx="8" opacity="0.2"/><rect x="32" y="72" width="192" height="136" rx="8" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><path d="M88,96V64a40,40,0,0,1,80,0V96" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/></svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="d-block mb-2">Total Sales</span>
                                            <h4 class="mb-2">14,356</h4>
                                            <span class="text-success">0.45%<i class="ti ti-arrow-narrow-up ms-1 d-inline-block"></i></span><span class="fs-12 text-muted ms-1">This week</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                                    <div class="card custom-card">
                                        <div class="card-body p-4">
                                            <div class="main-card-icon secondary mb-4">
                                                <div class="avatar avatar-lg bg-secondary-transparent border border-secondary border-opacity-10">
                                                    <div class="avatar avatar-sm svg-white">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><path d="M32,208V56a8,8,0,0,1,8-8H216a8,8,0,0,1,8,8V208l-32-16-32,16-32-16L96,208,64,192Z" opacity="0.2"/><line x1="80" y1="104" x2="176" y2="104" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><line x1="80" y1="136" x2="176" y2="136" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><path d="M32,208V56a8,8,0,0,1,8-8H216a8,8,0,0,1,8,8V208l-32-16-32,16-32-16L96,208,64,192Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/></svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="d-block mb-2">Total Expenses</span>
                                            <h4 class="mb-2">$281K</h4>
                                            <span class="text-success">1.27%<i class="ti ti-arrow-narrow-up ms-1 d-inline-block"></i></span><span class="fs-12 text-muted ms-1">This week</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                                    <div class="card custom-card">
                                        <div class="card-body p-4">
                                            <div class="main-card-icon success mb-4">
                                                <div class="avatar avatar-lg bg-success-transparent border border-success border-opacity-10">
                                                    <div class="avatar avatar-sm svg-white">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><path d="M62.55,144H188.1a16,16,0,0,0,15.74-13.14L216,64H48Z" opacity="0.2"/><path d="M180,184H83.17a16,16,0,0,1-15.74-13.14L41.92,30.57A8,8,0,0,0,34.05,24H16" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><circle cx="84" cy="204" r="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><circle cx="180" cy="204" r="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><path d="M62.55,144H188.1a16,16,0,0,0,15.74-13.14L216,64H48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/></svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="d-block mb-2">Total Orders</span>
                                            <h4 class="mb-2">2,352</h4>
                                            <span class="text-danger">0.69%<i class="ti ti-arrow-narrow-down ms-1 d-inline-block"></i></span><span class="fs-12 text-muted ms-1">This week</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                                    <div class="card custom-card">
                                        <div class="card-body p-4">
                                            <div class="main-card-icon orange mb-4">
                                                <div class="avatar avatar-lg bg-orange-transparent border border-orange border-opacity-10">
                                                    <div class="avatar avatar-sm svg-white">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><path d="M128,128h24a40,40,0,0,1,0,80H128Z" opacity="0.2"/><path d="M128,48H112a40,40,0,0,0,0,80h16Z" opacity="0.2"/><line x1="128" y1="24" x2="128" y2="232" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><path d="M184,88a40,40,0,0,0-40-40H112a40,40,0,0,0,0,80h40a40,40,0,0,1,0,80H104a40,40,0,0,1-40-40" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/></svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="d-block mb-2">Daily Revenue</span>
                                            <h4 class="mb-2">$2,565</h4>
                                            <span class="text-success">0.82%<i class="ti ti-arrow-narrow-up ms-1 d-inline-block"></i></span><span class="fs-12 text-muted ms-1">This week</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="card custom-card">
                                        <div class="card-header justify-content-between">
                                            <div class="card-title">
                                                ORDERS STATUS
                                            </div>
                                            <div class="dropdown"> 
                                                <a href="javascript:void(0);" class="p-2 fs-12 text-muted" data-bs-toggle="dropdown" aria-expanded="true"> Sort By <i class="ri-arrow-down-s-line align-middle ms-1 d-inline-block"></i> </a> 
                                                <ul class="dropdown-menu" role="menu" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 28px);" data-popper-placement="bottom-end"> 
                                                    <li><a class="dropdown-item" href="javascript:void(0);">This Week</a></li>
                                                    <li><a class="dropdown-item" href="javascript:void(0);">Last Week</a></li> 
                                                    <li><a class="dropdown-item" href="javascript:void(0);">This Month</a></li> 
                                                </ul> 
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div id="order-status">
                                                <ApexChart TItem="OrderStatus"  Height="294" Options=OversStatusChartOptions>
                                                    <ApexPointSeries TItem="OrderStatus"
                                                        Items="orderstatus"
                                                        SeriesType="@SeriesType.Bar"
                                                        Name="Paid"
                                                        Color="var(--primary-color)"
                                                        XValue="@(e => e.Month)"
                                                        YAggregate="@(e => e.Sum(e => e.OrderStatusPaid))"/>
                                                    <ApexPointSeries TItem="OrderStatus"
                                                        Items="orderstatus"
                                                        SeriesType="@SeriesType.Area"
                                                        Name="Unpaid"
                                                        Color="var(--primary005)"
                                                        XValue="@(e => e.Month)"
                                                        YAggregate="@(e => e.Sum(e => e.OrderStatusUnpaid))"/>
                                                    <ApexPointSeries TItem="OrderStatus"
                                                        Items="orderstatus"
                                                        SeriesType="@SeriesType.Line"
                                                        Name="Refunded"
                                                        Color="rgb(215, 124, 247)"
                                                        XValue="@(e => e.Month)"
                                                        YAggregate="@(e => e.Sum(e => e.OrderStatusRefunded))"/>
                                                </ApexChart>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="row">
                                <div class="col-xxl-12 col-xl-12 col-lg-6">
                                    <div class="card custom-card overflow-hidden audience-report-card">
                                        <div class="card-header">
                                            <div class="card-title">
                                                AUDIENCE REPORT
                                            </div>
                                        </div>
                                        <div class="card-body p-0">
                                            <div class="d-flex align-items-center justify-content-between p-3 audience-report-content flex-wrap gap-3">
                                                <div>
                                                    <span class="text-fixed-white d-block fs-12 audience male">Male</span>
                                                    <h6 class="mb-0 fw-medium text-fixed-white">10,182</h6>
                                                </div>
                                                <div>
                                                    <span class="text-fixed-white d-block fs-12 audience female">Female</span>
                                                    <h6 class="mb-0 fw-medium text-fixed-white">6,352</h6>
                                                </div>
                                                <div>
                                                    <span class="text-fixed-white d-block fs-12 audience others">Others</span>
                                                    <h6 class="mb-0 fw-medium text-fixed-white">1,234</h6>
                                                </div>
                                            </div>
                                            <div id="audience-report">
                                                <ApexChart TItem="AudienceReportchart" Height="263" Options=AudienceReportChartOptions >
                                                    <ApexPointSeries TItem="AudienceReportchart" Items="AudienceReportcharts" Name="Male"  SeriesType="SeriesType.Area" XValue="@(e => e.StackedValue)" YAggregate="@(e => e.Sum(e => e.Male))" />
                                                    <ApexPointSeries TItem="AudienceReportchart" Items="AudienceReportcharts" Name="Female"  SeriesType="SeriesType.Area" XValue="@(e => e.StackedValue)" YAggregate="@(e => e.Sum(e => e.Female))" />
                                                    <ApexPointSeries TItem="AudienceReportchart" Items="AudienceReportcharts" Name="Others"  SeriesType="SeriesType.Area" XValue="@(e => e.StackedValue)" YAggregate="@(e => e.Sum(e => e.Others))" />
                                                </ApexChart>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-12 col-xl-12 col-lg-6">
                                    <div class="card custom-card">
                                        <div class="card-header justify-content-between">
                                            <div class="card-title">
                                                Recent Orders
                                            </div>
                                            <div class="dropdown"> 
                                                <a href="javascript:void(0);" class="btn btn-sm btn-primary-light btn-wave waves-effect waves-light" data-bs-toggle="dropdown" aria-expanded="false">Today
                                                    <i class="ri-arrow-down-s-line align-middle ms-1 d-inline-block"></i> 
                                                </a> 
                                                <ul class="dropdown-menu" role="menu"> 
                                                    <li><a class="dropdown-item" href="javascript:void(0);">This Week</a></li> 
                                                    <li><a class="dropdown-item" href="javascript:void(0);">This Month</a></li>
                                                    <li><a class="dropdown-item" href="javascript:void(0);">This Year</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row g-0">
                                                <div class="col-xxl-6 col-xl-12 my-auto">
                                                    <span class="d-block mb-3 recent-orders-content delivered fs-13">Delivered - <span class="fw-medium">1754</span></span>
                                                    <span class="d-block mb-3 recent-orders-content cancelled fs-13">Cancelled - <span class="fw-medium">1234</span></span>
                                                    <span class="d-block recent-orders-content pending fs-13">Pending - <span class="fw-medium">878</span></span>
                                                </div>
                                                <div class="col-xxl-6 col-xl-12">
                                                    <div class="leads-source-chart d-flex align-items-center justify-content-center">
                                                        <div id="recent-orders">
                                                            <ApexChart TItem="RecentOrder" Height="135" Options=RecentOrderChartOptions>
                                                                <ApexPointSeries TItem="RecentOrder" Items="RecentOrders" SeriesType="SeriesType.Donut" XValue="@(e => e.Source)" YAggregate="@(e => e.Sum(e => e.SourceValue))" />
                                                            </ApexChart>
                                                        </div>
                                                        <div class="lead-source-value">
                                                            <span class="d-block fs-18 fw-bold">Total</span>
                                                            <span class="d-block fs-14">3866</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End:: row-1 -->

                    <!-- Start:: row-2 -->
                    <div class="row">
                        <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6">
                            <div class="card custom-card overflow-hidden">
                                <div class="card-header justify-content-between">
                                    <div class="card-title">
                                        TRANSACTIONS
                                    </div>
                                    <a href="javascript:void(0);" class="fs-12 text-muted"> View All<i class="ti ti-arrow-narrow-right ms-1"></i> </a>
                                </div>
                                <div class="card-body">
                                    <ul class="list-unstyled transactions-list">
                                        <li>
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="d-flex align-items-start flex-wrap gap-2">
                                                    <div>
                                                        <span class="avatar avatar-sm bg-primary-transparent">
                                                            <i class="ri-paypal-line fs-18"></i> 
                                                        </span>
                                                    </div>
                                                    <div>
                                                        <a href="javascript:void(0);">
                                                            <span class="d-block fw-medium mb-1">Paypal ****2783</span>
                                                        </a>
                                                        <span class="d-block fs-11 text-muted">24,Jul 2024 at 2:45PM</span>
                                                    </div>
                                                </div>
                                                <div class="text-end">
                                                    <span class="d-block fw-medium">$12,300</span>
                                                    <span class="text-success fs-12">Paid</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="d-flex align-items-start flex-wrap gap-2">
                                                    <div>
                                                        <span class="avatar avatar-sm bg-secondary-transparent">
                                                            <i class="ri-wallet-3-line fs-18"></i>
                                                        </span>
                                                    </div>
                                                    <div>
                                                        <a href="javascript:void(0);">
                                                            <span class="d-block fw-medium mb-1">Digital Wallet</span>
                                                        </a>    
                                                        <span class="d-block fs-11 text-muted">13,May 2024 at 11:21AM</span>
                                                    </div>
                                                </div>
                                                <div class="text-end">
                                                    <span class="d-block fw-medium">$11,449</span>
                                                    <span class="text-success fs-12">Paid</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="d-flex align-items-start flex-wrap gap-2">
                                                    <div>
                                                        <span class="avatar avatar-sm bg-success-transparent">
                                                            <i class="ri-mastercard-line fs-18"></i>
                                                        </span>
                                                    </div>
                                                    <div>
                                                        <a href="javascript:void(0);">
                                                            <span class="d-block fw-medium mb-1">Mastro Card ****7893</span>
                                                        </a>    
                                                        <span class="d-block fs-11 text-muted">16,Feb 2024 at 4:36PM</span>
                                                    </div>
                                                </div>
                                                <div class="text-end">
                                                    <span class="d-block fw-medium">$10,999</span>
                                                    <span class="text-danger fs-12">Pending</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="d-flex align-items-start flex-wrap gap-2">
                                                    <div>
                                                        <span class="avatar avatar-sm bg-info-transparent">
                                                            <i class="ri-visa-line fs-18"></i>
                                                        </span>
                                                    </div>
                                                    <div>
                                                        <a href="javascript:void(0);">
                                                            <span class="d-block fw-medium mb-1">Visa Card ****2563</span>
                                                        </a>    
                                                        <span class="d-block fs-11 text-muted">21,Mar 2024 at 10:15AM</span>
                                                    </div>
                                                </div>
                                                <div class="text-end">
                                                    <span class="d-block fw-medium">$9,249</span>
                                                    <span class="text-success fs-12">Paid</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="d-flex align-items-start flex-wrap gap-2">
                                                    <div>
                                                        <span class="avatar avatar-sm bg-warning-transparent">
                                                            <i class="ri-alipay-line fs-18"></i>
                                                        </span>
                                                    </div>
                                                    <div>
                                                        <a href="javascript:void(0);">
                                                            <span class="d-block fw-medium mb-1">AliPay</span>
                                                        </a>    
                                                        <span class="d-block fs-11 text-muted">24,Apr 2024 at 9:16AM</span>
                                                    </div>
                                                </div>
                                                <div class="text-end">
                                                    <span class="d-block fw-medium">$7,799</span>
                                                    <span class="text-success fs-12">Paid</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
                            <div class="card custom-card">
                                <div class="card-header justify-content-between">
                                    <div class="card-title">
                                        TOP SELLING CATEGORIES
                                    </div>
                                    <div class="dropdown"> 
                                        <a href="javascript:void(0);" class="p-2 fs-12 text-muted" data-bs-toggle="dropdown" aria-expanded="true"> Sort By <i class="ri-arrow-down-s-line align-middle ms-1 d-inline-block"></i> </a> 
                                        <ul class="dropdown-menu" role="menu" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 28px);" data-popper-placement="bottom-end"> 
                                            <li><a class="dropdown-item" href="javascript:void(0);">This Week</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);">Last Week</a></li> 
                                            <li><a class="dropdown-item" href="javascript:void(0);">This Month</a></li> 
                                        </ul> 
                                    </div>
                                </div>
                                <div class="card-body py-0">
                                    <div id="top-selling-categories">
                                        <ApexChart TItem="SellingBarchart" Height="305" Options=SellingBarChartOptions>
                                            <ApexPointSeries TItem="SellingBarchart" Items="SellingBarcharts" Name="Sales"  SeriesType="SeriesType.Bar" XValue="@(e => e.Sales)" YAggregate="@(e => e.Sum(e => e.GrossValue))" />
                                        </ApexChart>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-5 col-xl-5 col-lg-12">
                            <div class="card custom-card overflow-hidden">
                                <div class="card-header justify-content-between">
                                    <div class="card-title">
                                        TOP SELLING PRODUCTS
                                    </div>
                                    <a href="javascript:void(0);" class="fs-12 text-muted"> View All<i class="ti ti-arrow-narrow-right ms-1"></i> </a>
                                </div>
                                <div class="card-body p-0">
                                    <div class="table-responsive">
                                        <table class="table text-nowrap">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">S.No</th>
                                                    <th>Product</th>
                                                    <th>Price</th>
                                                    <th>Category</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center">
                                                        <span>1</span>
                                                    </td>
                                                    <td>
                                                        <a href="javascript:void(0);">
                                                            <div class="d-flex align-items-center">
                                                                <div class="me-2 lh-1">
                                                                    <span class="avatar avatar-sm">
                                                                        <img src="@($"{NavigationManager.BaseUri}assets/images/ecommerce/jpg/1.jpg")" alt="">
                                                                    </span>
                                                                </div>
                                                                <div class="fs-14">Flower Pot</div>
                                                            </div>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <span class="fw-medium fs-14">$4320.29</span>
                                                    </td>
                                                    <td>
                                                        <span class="badge bg-primary-transparent">Furniture</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <span>2</span>
                                                    </td>
                                                    <td>
                                                        <a href="javascript:void(0);">
                                                            <div class="d-flex align-items-center">
                                                                <div class="me-2 lh-1">
                                                                    <span class="avatar avatar-sm">
                                                                        <img src="@($"{NavigationManager.BaseUri}assets/images/ecommerce/jpg/4.jpg")" alt="">
                                                                    </span>
                                                                </div>
                                                                <div class="fs-14">Kiwi Fruit</div>
                                                            </div>
                                                        </a> 
                                                    </td>
                                                    <td>
                                                        <span class="fw-medium fs-14">$1899.99</span>
                                                    </td>
                                                    <td>
                                                        <span class="badge bg-success-transparent">Food &amp; Dining</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <span>3</span>
                                                    </td>
                                                    <td>
                                                        <a href="javascript:void(0);">
                                                            <div class="d-flex align-items-center">
                                                                <div class="me-2 lh-1">
                                                                    <span class="avatar avatar-sm">
                                                                        <img src="@($"{NavigationManager.BaseUri}assets/images/ecommerce/jpg/3.jpg")" alt="">
                                                                    </span>
                                                                </div>
                                                                <div class="fs-14">Camera</div>
                                                            </div>
                                                        </a>    
                                                    </td>
                                                    <td>
                                                        <span class="fw-medium fs-14">$1176.89</span>
                                                    </td>
                                                    <td>
                                                        <span class="badge bg-secondary-transparent">Electronics</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <span>4</span>
                                                    </td>
                                                    <td>
                                                        <a href="javascript:void(0);">
                                                            <div class="d-flex align-items-center">
                                                                <div class="me-2 lh-1">
                                                                    <span class="avatar avatar-sm">
                                                                        <img src="@($"{NavigationManager.BaseUri}assets/images/ecommerce/jpg/5.jpg")" alt="">
                                                                    </span>
                                                                </div>
                                                                <div class="fs-14">Donut</div>
                                                            </div>
                                                        </a>    
                                                    </td>
                                                    <td>
                                                        <span class="fw-medium fs-14">$1867.29</span>
                                                    </td>
                                                    <td>
                                                        <span class="badge bg-warning-transparent">Food &amp; Dining</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="border-bottom-0 text-center">
                                                        <span>5</span>
                                                    </td>
                                                    <td class="border-bottom-0">
                                                        <a href="javascript:void(0);">
                                                            <div class="d-flex align-items-center">
                                                                <div class="me-2 lh-1">
                                                                    <span class="avatar avatar-sm">
                                                                        <img src="@($"{NavigationManager.BaseUri}assets/images/ecommerce/jpg/2.jpg")" alt="">
                                                                    </span>
                                                                </div>
                                                                <div class="fs-14">Head Phones</div>
                                                            </div>
                                                        </a>    
                                                    </td>
                                                    <td class="border-bottom-0">
                                                        <span class="fw-medium fs-14">$6745.99</span>
                                                    </td>
                                                    <td class="border-bottom-0">
                                                        <span class="badge bg-danger-transparent">Electronics</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End:: row-2 -->

                    <!-- Start:: row-3 -->
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card custom-card overflow-hidden">
                                <div class="card-header justify-content-between">
                                    <div class="card-title">RECENT INVOICES</div>
                                    <div class="d-flex flex-wrap gap-2"> 
                                        <div> 
                                            <input class="form-control form-control-sm" type="text" placeholder="Search Here" aria-label=".form-control-sm example"> 
                                        </div> 
                                        <div class="dropdown"> 
                                            <a href="javascript:void(0);" class="btn btn-primary btn-sm btn-wave waves-effect waves-light" data-bs-toggle="dropdown" aria-expanded="false"> Sort By<i class="ri-arrow-down-s-line align-middle ms-1 d-inline-block"></i> 
                                            </a> 
                                            <ul class="dropdown-menu" role="menu"> 
                                                <li><a class="dropdown-item" href="javascript:void(0);">New</a></li> 
                                                <li><a class="dropdown-item" href="javascript:void(0);">Popular</a></li> 
                                                <li><a class="dropdown-item" href="javascript:void(0);">Relevant</a></li> 
                                            </ul> 
                                        </div> 
                                    </div>
                                </div>
                                <div class="card-body p-0">
                                    <div class="table-responsive">
                                        <table class="table text-nowrap">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">
                                                        <span>
                                                            <input class="form-check-input" type="checkbox" id="order_All" value="" aria-label="...">
                                                        </span>
                                                    </th>
                                                    <th>Order Id </th>
                                                    <th>Customer</th>
                                                    <th class="text-center">Quantity</th>
                                                    <th>Price</th>
                                                    <th>Status</th>
                                                    <th>Ordered Date</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center">
                                                        <span>
                                                            <input class="form-check-input" type="checkbox" id="order_1" value="" aria-label="...">
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span class="fw-semibold">#1537890</span>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="me-2 lh-1">
                                                                <span class="avatar avatar-sm">
                                                                    <img src="@($"{NavigationManager.BaseUri}assets/images/faces/15.jpg")" alt="">
                                                                </span>
                                                            </div>
                                                            <div>
                                                                <a href="javascript:void(0)" class="fs-14">Simon Cowall</a>
                                                                <span class="d-block text-muted fs-12">simoncowall2143&#64;gmail.com</span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="text-center">
                                                        1
                                                    </td>
                                                    <td>
                                                        <span class="fw-semibold fs-14">$4320.29</span>
                                                    </td>
                                                    <td>
                                                        <span class="badge bg-success-transparent">Shipped</span>
                                                    </td>
                                                    <td>
                                                        <span class="text-muted">25,Nov 2022</span>
                                                    </td>
                                                    <td>
                                                        <div class="hstack gap-2 fs-1">
                                                            <a aria-label="anchor" href="javascript:void(0);" class="btn btn-icon btn-sm btn-success-light btn-wave"><i class="ri-download-2-line"></i></a>
                                                            <a aria-label="anchor" href="javascript:void(0);" class="btn btn-icon btn-sm btn-info-light btn-wave"><i class="ri-edit-line"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <span>
                                                            <input class="form-check-input" type="checkbox" id="order_2" value="" aria-label="...">
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span class="fw-semibold">#1539078</span>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="me-2 lh-1">
                                                                <span class="avatar avatar-sm">
                                                                    <img src="@($"{NavigationManager.BaseUri}assets/images/faces/4.jpg")" alt="">
                                                                </span>
                                                            </div>
                                                            <div>
                                                                <a href="javascirpt:void(0);" class="fs-14">Meisha Kerr</a>
                                                                <span class="d-block text-muted fs-12">meishakerr789&#64;gmail.com</span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="text-center">
                                                        1
                                                    </td>
                                                    <td>
                                                        <span class="fw-semibold fs-14">$6745.99</span>
                                                    </td>
                                                    <td>
                                                        <span class="badge bg-danger-transparent">Cancelled</span>
                                                    </td>
                                                    <td>
                                                        <span class="text-muted">29,Nov 2022</span>
                                                    </td>
                                                    <td>
                                                        <div class="hstack gap-2 fs-1">
                                                            <a aria-label="anchor" href="javascript:void(0);" class="btn btn-icon btn-sm btn-success-light btn-wave"><i class="ri-download-2-line"></i></a>
                                                            <a aria-label="anchor" href="javascript:void(0);" class="btn btn-icon btn-sm btn-info-light btn-wave"><i class="ri-edit-line"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <span>
                                                            <input class="form-check-input" type="checkbox" id="order_3" value="" aria-label="...">
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span class="fw-semibold">#1539832</span>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="me-2 lh-1">
                                                                <span class="avatar avatar-sm">
                                                                    <img src="@($"{NavigationManager.BaseUri}assets/images/faces/5.jpg")" alt="">
                                                                </span>
                                                            </div>
                                                            <div>
                                                                <a href="javascirpt:void(0);" class="fs-14">Jessica</a>
                                                                <span class="d-block text-muted fs-12">jessicastellar&#64;gmail.com</span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="text-center">
                                                    2
                                                    </td>
                                                    <td>
                                                        <span class="fw-semibold fs-14">$1176.89</span>
                                                    </td>
                                                    <td>
                                                        <span class="badge bg-info-transparent">Under Process</span>
                                                    </td>
                                                    <td>
                                                        <span class="text-muted">04,Dec 2022</span>
                                                    </td>
                                                    <td>
                                                        <div class="hstack gap-2 fs-1">
                                                            <a aria-label="anchor" href="javascript:void(0);" class="btn btn-icon btn-sm btn-success-light btn-wave"><i class="ri-download-2-line"></i></a>
                                                            <a aria-label="anchor" href="javascript:void(0);" class="btn btn-icon btn-sm btn-info-light btn-wave"><i class="ri-edit-line"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <span>
                                                            <input class="form-check-input" type="checkbox" id="order_4" value="" aria-label="...">
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span class="fw-semibold">#1539832</span>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="me-2 lh-1">
                                                                <span class="avatar avatar-sm">
                                                                    <img src="@($"{NavigationManager.BaseUri}assets/images/faces/6.jpg")" alt="">
                                                                </span>
                                                            </div>
                                                            <div>
                                                                <a href="javascirpt:void(0);" class="fs-14">Amanda B</a>
                                                                <span class="d-block text-muted fs-12">amandabella786&#64;gmail.com</span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="text-center">
                                                    1
                                                    </td>
                                                    <td>
                                                        <span class="fw-semibold fs-14">$1899.99</span>
                                                    </td>
                                                    <td>
                                                        <span class="badge bg-success-transparent">Shipped</span>
                                                    </td>
                                                    <td>
                                                        <span class="text-muted">10,Dec 2022</span>
                                                    </td>
                                                    <td>
                                                        <div class="hstack gap-2 fs-1">
                                                            <a aria-label="anchor" href="javascript:void(0);" class="btn btn-icon btn-sm btn-success-light btn-wave"><i class="ri-download-2-line"></i></a>
                                                            <a aria-label="anchor" href="javascript:void(0);" class="btn btn-icon btn-sm btn-info-light btn-wave"><i class="ri-edit-line"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <span>
                                                            <input class="form-check-input" type="checkbox" id="order_5" value="" aria-label="...">
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span class="fw-semibold">#1538267</span>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="me-2 lh-1">
                                                                <span class="avatar avatar-sm">
                                                                    <img src="@($"{NavigationManager.BaseUri}assets/images/faces/11.jpg")" alt="">
                                                                </span>
                                                            </div>
                                                            <div>
                                                                <a href="javascirpt:void(0);"  class="fs-14">Jason Stathman</a>
                                                                <span class="d-block text-muted fs-12">jasonstathman549&#64;gmail.com</span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="text-center">
                                                    1
                                                    </td>
                                                    <td>
                                                        <span class="fw-semibold fs-14">$1867.29</span>
                                                    </td>
                                                    <td>
                                                        <span class="badge bg-warning-transparent">Pending</span>
                                                    </td>
                                                    <td>
                                                        <span class="text-muted">18,Dec 2022</span>
                                                    </td>
                                                    <td>
                                                        <div class="hstack gap-2 fs-1">
                                                            <a aria-label="anchor" href="javascript:void(0);" class="btn btn-icon btn-sm btn-success-light btn-wave"><i class="ri-download-2-line"></i></a>
                                                            <a aria-label="anchor" href="javascript:void(0);" class="btn btn-icon btn-sm btn-info-light btn-wave"><i class="ri-edit-line"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center border-bottom-0">
                                                        <span>
                                                            <input class="form-check-input" type="checkbox" id="order_6" value="" aria-label="...">
                                                        </span>
                                                    </td>
                                                    <td class="border-bottom-0">
                                                        <span class="fw-semibold">#1537890</span>
                                                    </td>
                                                    <td class="border-bottom-0">
                                                        <div class="d-flex align-items-center">
                                                            <div class="me-2 lh-1">
                                                                <span class="avatar avatar-sm">
                                                                    <img src="@($"{NavigationManager.BaseUri}assets/images/faces/13.jpg")" alt="">
                                                                </span>
                                                            </div>
                                                            <div>
                                                                <a href="javascirpt:void(0);" class="fs-14">Khabib Hussain</a>
                                                                <span class="d-block text-muted fs-12">khabibhussain645&#64;gmail.com</span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="border-bottom-0 text-center">
                                                    1
                                                    </td>
                                                    <td class="border-bottom-0">
                                                        <span class="fw-semibold fs-14">$2439.99</span>
                                                    </td>
                                                    <td class="border-bottom-0">
                                                        <span class="badge bg-success-transparent">Success</span>
                                                    </td>
                                                    <td class="border-bottom-0">
                                                        <span class="text-muted">24,Dec 2022</span>
                                                    </td>
                                                    <td class="border-bottom-0">
                                                        <div class="hstack gap-2 fs-1">
                                                            <a aria-label="anchor" href="javascript:void(0);" class="btn btn-icon btn-sm btn-success-light btn-wave"><i class="ri-download-2-line"></i></a>
                                                            <a aria-label="anchor" href="javascript:void(0);" class="btn btn-icon btn-sm btn-info-light btn-wave"><i class="ri-edit-line"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="card-footer"> 
                                    <div class="d-flex align-items-center"> 
                                        <div> Showing 6 Entries <i class="bi bi-arrow-right ms-2 fw-semibold"></i> </div>
                                        <div class="ms-auto"> 
                                        <nav aria-label="Page navigation" class="pagination-style-4"> 
                                            <ul class="pagination mb-0"> 
                                                <li class="page-item disabled"> <a class="page-link" href="javascript:void(0);"> Prev </a> </li>
                                                    <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li> 
                                                    <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li> 
                                                    <li class="page-item"> <a class="page-link text-primary" href="javascript:void(0);"> next </a> </li> 
                                                </ul> 
                                            </nav> 
                                        </div> 
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End:: row-3 -->

                
@code {

    // ORDERS STATUS Start //
    private List<OrderStatus> orderstatus { get; set; } = OrderStatusData.GetOrderStatus();
    private ApexChartOptions<OrderStatus> OversStatusChartOptions { get; set; } = new();
    public class OrderStatus {
        public string? Month { get; set; }
        public decimal OrderStatusPaid { get; set; }
        public decimal OrderStatusUnpaid { get; set; }
        public decimal OrderStatusRefunded { get; set; }
    } ;
    public static class OrderStatusData {
        public static List<OrderStatus> GetOrderStatus() {
            // Replace this with actual data retrieval logic
            List<OrderStatus> orderstatus = new List<OrderStatus>
            {
                new OrderStatus { Month = "Jan", OrderStatusPaid = 33, OrderStatusUnpaid = 44, OrderStatusRefunded = 30},
                new OrderStatus { Month = "Feb", OrderStatusPaid = 21, OrderStatusUnpaid = 55, OrderStatusRefunded = 25},
                new OrderStatus { Month = "Mar", OrderStatusPaid = 32, OrderStatusUnpaid = 41, OrderStatusRefunded = 36},
                new OrderStatus { Month = "Apr", OrderStatusPaid = 37, OrderStatusUnpaid = 42, OrderStatusRefunded = 30},
                new OrderStatus { Month = "May", OrderStatusPaid = 23, OrderStatusUnpaid = 22, OrderStatusRefunded = 45},
                new OrderStatus { Month = "Jun", OrderStatusPaid = 32, OrderStatusUnpaid = 43, OrderStatusRefunded = 35},
                new OrderStatus { Month = "Jul", OrderStatusPaid = 47, OrderStatusUnpaid = 21, OrderStatusRefunded = 64},
                new OrderStatus { Month = "Aug", OrderStatusPaid = 31, OrderStatusUnpaid = 35, OrderStatusRefunded = 51},
                new OrderStatus { Month = "Sep", OrderStatusPaid = 54, OrderStatusUnpaid = 56, OrderStatusRefunded = 59},
                new OrderStatus { Month = "Oct", OrderStatusPaid = 32, OrderStatusUnpaid = 27, OrderStatusRefunded = 36},
                new OrderStatus { Month = "Nov", OrderStatusPaid = 20, OrderStatusUnpaid = 43, OrderStatusRefunded = 39},
                new OrderStatus { Month = "Dec", OrderStatusPaid = 38, OrderStatusUnpaid = 27, OrderStatusRefunded = 51},
            };
            return orderstatus;
        }
    }
    // ORDERS STATUS End //

    // AUDIENCE REPORT Chart Start //
    private List<AudienceReportchart> AudienceReportcharts { get; set; } = AudienceReportData.GetAudienceReportcharts();
    private ApexChartOptions<AudienceReportchart> AudienceReportChartOptions { get; set; } = new();
    public class AudienceReportchart {
        public string? StackedValue { get; set; }
        public decimal Male { get; set; }
        public decimal Female { get; set; }
        public decimal Others { get; set; }
        
    } ;
    public static class AudienceReportData {
            public static List<AudienceReportchart> GetAudienceReportcharts()
            {
                List<AudienceReportchart> AudienceReportcharts = new List<AudienceReportchart>
                {
                    new AudienceReportchart { StackedValue = "1", Male= 29, Female = 23, Others = 18 },
                    new AudienceReportchart { StackedValue = "2", Male= 18, Female = 15, Others = 10 },
                    new AudienceReportchart { StackedValue = "3", Male= 26, Female = 21, Others = 15 },
                    new AudienceReportchart { StackedValue = "4", Male= 30, Female = 23, Others = 18 },
                    new AudienceReportchart { StackedValue = "5", Male= 23, Female = 18, Others = 12 },
                    new AudienceReportchart { StackedValue = "6", Male= 28, Female = 22, Others = 16 },
                    new AudienceReportchart { StackedValue = "7", Male= 23, Female = 18, Others = 12 },
                    new AudienceReportchart { StackedValue = "8", Male= 34, Female = 28, Others = 20 },

                };

                return AudienceReportcharts;
            }
        }
    //  AUDIENCE REPORT Chart End //

    //  Recent Order Start //
    private List<RecentOrder> RecentOrders { get; set; } = DataRecentOrder.GetRecentOrders();    
    private ApexChartOptions<RecentOrder> RecentOrderChartOptions { get; set; } = new();
    public static class DataRecentOrder
    {
        public static List<RecentOrder> GetRecentOrders()
        {
            // Sample data for RecentOrders
            List<RecentOrder> RecentOrders = new List<RecentOrder>
            {
                new RecentOrder { Source = "Delivered", SourceValue = 1754 },
                new RecentOrder { Source = "Cancelled", SourceValue = 1234 },
                new RecentOrder { Source = "Pending", SourceValue = 878 },
                // Add more sample data as needed
            };

            return RecentOrders;
        }
    }
    public class RecentOrder
    {
        public string? Source { get; set; }
        public int SourceValue { get; set; }
    }
    //  RecentOrders End //

    // Selling Bar Chart Start //
    private List<SellingBarchart> SellingBarcharts { get; set; } = BarbasicData.GetSellingBarcharts();
    private ApexChartOptions<SellingBarchart> SellingBarChartOptions { get; set; } = new();
    public class SellingBarchart {
        public string? Sales { get; set; }
        public decimal GrossValue { get; set; }
        
    } ;
    public static class BarbasicData {
            public static List<SellingBarchart> GetSellingBarcharts()
            {
                List<SellingBarchart> SellingBarcharts = new List<SellingBarchart>
                {
                    new SellingBarchart { Sales = "Electronics",    GrossValue = 650},
                    new SellingBarchart { Sales = "Fashion",         GrossValue = 770},
                    new SellingBarchart { Sales = "Kitchen Appliances", GrossValue = 840},
                    new SellingBarchart { Sales = "Beauty Products",    GrossValue = 890},
                    new SellingBarchart { Sales = "Books",          GrossValue = 1100},
                    new SellingBarchart { Sales = "Toys and Games",         GrossValue = 1380},

                };

                return SellingBarcharts;
            }
        }
    //  Selling Bar Chart End //


    protected override void OnInitialized() {

        OversStatusChartOptions = new ApexChartOptions<OrderStatus> {
            Chart = new () {
                Toolbar = new ApexCharts.Toolbar {
                    Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false,Pan = false, Reset = false,  Download = false},
                }, 
                Stacked = true,
            },
            Grid = new Grid {
                BorderColor = "#f1f1f1",
                StrokeDashArray = 3
            },
            Stroke = new Stroke { 
                Curve = [Curve.Smooth],
                Width = [0, 0, 1.5],
                LineCap = ApexCharts.LineCap.Butt,
                Show= true,
                DashArray= [0, 0, 4],
            },
            DataLabels = new DataLabels {
                Enabled = false,
            }, 
            Legend = new Legend {
                Show = true,
                Position = LegendPosition.Top,
                HorizontalAlign = Align.Center,
            },
            PlotOptions = new PlotOptions {
                Bar = new PlotOptionsBar {
                    Horizontal = false,
                    BorderRadius = 3,
                    ColumnWidth = "20%",
                    BorderRadiusApplication = BorderRadiusApplication.Around,
                    BorderRadiusWhenStacked = BorderRadiusWhenStacked.All
                }
            },
            Yaxis = new List<YAxis>() {
                new YAxis {
                    Title = new AxisTitle {
                        Style = new AxisTitleStyle {
                            Color = "#adb5be",
                            FontSize = "14px",
                            FontFamily = "poppins, sans-serif",
                            FontWeight = 600,
                            CssClass = "apexcharts-yaxis-label"
                        }
                    },
                    Min = 0,
                    Max = 70,
                    StepSize = 10,
                    Labels = new YAxisLabels {
                        Show = true,
                        Style = new AxisLabelStyle {
                            FontSize = "11px",
                            FontWeight = 400,
                            CssClass = "apexcharts-xaxis-label"
                        }
                    },
                },
            },
            Xaxis =  new XAxis {
                AxisBorder = new () {
                    Show = true,
                    Color = "#e9e9e9",
                    OffsetX = 0,
                    OffsetY = 0,
                },
                AxisTicks = new () {
                    Show = true,
                    Color = "#e9e9e9",
                    OffsetX = 0,
                    OffsetY = 0,
                },
                Labels = new XAxisLabels {
                    Show = true,
                    Style = new AxisLabelStyle {
                        FontSize = "11px",
                        FontWeight = 500,
                        CssClass = "apexcharts-xaxis-label"
                    }
                },
            },
        };

        AudienceReportChartOptions = new ApexChartOptions<AudienceReportchart> {
            Chart = new () {
                Toolbar = new ApexCharts.Toolbar {
                    Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false,Pan = false, Reset = false,  Download = false},
                }, 
                DropShadow = new ApexCharts.DropShadow {
                    Enabled = true,
                    Color = ["#000"],
                    Top = 18,
                    Left = 0,
                    Blur = 10,
                    Opacity = 0.2
                },
                Sparkline = new () {
                    Enabled = true
                },
            },
            DataLabels = new DataLabels {
                Enabled = false,
            }, 
            Stroke = new Stroke { 
                Curve = Curve.Smooth,
                Width = 0,
            },
            Grid = new Grid {
                BorderColor = "transparent",
            },
            Colors = new Color(new List<string> { "rgba(255, 255, 255, 0.2)", "rgba(255, 255, 255, 0.2)", "rgba(255, 255, 255, 0.2)" }),
            Fill = new Fill {
                Type = new List<FillType> { FillType.Gradient, FillType.Gradient },
                Gradient = new FillGradient {
                    ShadeIntensity = 1,
                    OpacityFrom = 0.4,
                    OpacityTo = 0.1,
                    Stops= [0, 90, 100],
                    ColorStops = new List<FillGradientStops> {
                        new FillGradientStops { Offset = 0, Color = "rgba(255, 255, 255, 0.1)", Opacity = 1 },
                        new FillGradientStops { Offset = 75, Color = "rgba(255, 255, 255, 0.1)", Opacity = 1 },
                        new FillGradientStops { Offset = 100, Color = "rgba(255, 255, 255, 0.1)", Opacity = 1 },
                        new FillGradientStops { Offset = 0, Color = "rgba(255, 255, 255, 0.2)", Opacity = 1 },
                        new FillGradientStops { Offset = 75, Color = "rgba(255, 255, 255, 0.2)", Opacity = 1 },
                        new FillGradientStops { Offset = 100, Color = "rgba(255, 255, 255, 0.2)", Opacity = 1 },
                        new FillGradientStops { Offset = 0, Color = "rgba(255, 255, 255, 0.3)", Opacity = 1 },
                        new FillGradientStops { Offset = 75, Color = "rgba(255, 255, 255, 0.3)", Opacity = 1 },
                        new FillGradientStops { Offset = 100, Color = "rgba(255, 255, 255, 0.3)", Opacity = 1 }
                    }
                },
            },
            Xaxis =  new XAxis {  
                Title = new AxisTitle {
                    Style = new AxisTitleStyle {
                        Color = "#8c9097",
                        FontSize = "13px",
                        FontWeight = "bold",
                        CssClass = "apexcharts-yaxis-label"
                    }
                },
                Labels = new XAxisLabels {
                    Show = true,
                    Style = new() {
                        Colors = "#8c9097",
                        FontSize = "11px",
                        FontWeight = 600,
                        CssClass = "apexcharts-xaxis-label",
                    },
                    OffsetX = -3,
                    OffsetY = -20,
                }
            },
            Yaxis = new List<YAxis>() {
                new YAxis // Define the first YAxis object
                {
                    Title = new AxisTitle {
                        Style = new AxisTitleStyle {
                            Color = "#8c9097",
                            FontSize = "13px",
                            FontWeight = "bold",
                            CssClass = "apexcharts-yaxis-label"
                        }
                    },
                    Labels = new YAxisLabels
                    {
                        Show = false,
                        Style = new() {
                            Colors = "#8c9097",
                            FontSize = "11px",
                            FontWeight = 600,
                            CssClass = "apexcharts-yaxis-label",
                        },
                        OffsetX = 15,
                        OffsetY = 0,
                    },
                    Min = 0,
                }
            },
            Legend = new Legend  { 
                Show= false,
            }, 
            Tooltip = new Tooltip { 
                Enabled= true,
                Theme = ApexCharts.Mode.Dark
            },
        };

        RecentOrderChartOptions = new ApexChartOptions<RecentOrder> {
            Chart = new () {
                Height ="10rem",
            }, 
            Stroke = new Stroke { 
                LineCap = ApexCharts.LineCap.Round,
                Width = 0
            },
            Legend = new Legend  { 
                Show= false,
            }, 
            
            Colors = new Color(new List<string> {"var(--primary08)", "rgba(215, 124, 247, 0.8)", "rgba(12, 163, 231, 0.8)"}),
            
            PlotOptions = new PlotOptions {
                Pie = new PlotOptionsPie { 
                      Donut= new PlotOptionsDonut{
                        Size = "80%",
                      },
                } 
            },
        };

        SellingBarChartOptions = new ApexChartOptions<SellingBarchart> {
            Chart = new () {
                Toolbar = new ApexCharts.Toolbar {
                    Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false,Pan = false, Reset = false,  Download = false},
                }, 
            }, 
            PlotOptions = new PlotOptions
            {
                Bar = new PlotOptionsBar
                {
                    BorderRadius = 1,
                    Horizontal = true,
                    Distributed = true,
                    BarHeight = "20%",
                }
            },
            Title = new Title{
                Style = new TitleStyle {
                    FontSize= "13px",
                    FontWeight= "bold",
                    Color= "#8c9097"
                },
            },
            Grid = new Grid {
                BorderColor = "#f2f5f7",
                StrokeDashArray = 3,
            },
            DataLabels = new DataLabels {
                Enabled=false,
            }, 
            Colors = new Color(new List<string> {"var(--primary-color)", "rgba(215, 124, 247, 1)", "rgba(12, 215, 177, 1)", "rgba(254, 124, 88, 1)", "rgba(12, 163, 231, 1)", "rgba(243, 157, 45, 1)"}),
            Stroke = new Stroke { 
                Curve = Curve.Straight,
                Width = 0,
            },
            Legend = new Legend  { 
                Show= false,
            }, 
            Tooltip = new Tooltip
            {
                Enabled = true,
                Shared = false,
                Intersect = true,
                X = new TooltipX
                {
                    Show = false
                },
                Theme = ApexCharts.Mode.Dark
            },
            Xaxis =  new XAxis {  
                Labels = new XAxisLabels {
                    Show = false,
                    Style = new() {
                        FontSize = "12px",
                        CssClass = "apexcharts-xaxis-label",
                    },
                }
            },
            Yaxis = new List<YAxis>() {
                new YAxis // Define the first YAxis object
                {
                    Labels = new YAxisLabels
                    {
                        Show = true,
                        Style = new() {
                            Colors = "#8c9097",
                            FontSize = "11px",
                            FontWeight = 500,
                            CssClass = "apexcharts-yaxis-label",
                        },
                    },
                    Min = 0,
                }
            },
        };

    }
}