@page "/index4"
@using ApexCharts
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager // This line is used to generate URLs dynamically //


                    <!-- Start::page-header -->
                    <div class="my-4 page-header-breadcrumb d-flex align-items-center justify-content-between flex-wrap gap-2">
                        <div>
                            <h1 class="page-title fw-medium fs-18 mb-2">CRM</h1>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="javascript:void(0);">
                                        Dashboards
                                    </a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">CRM</li>
                            </ol>
                        </div>
                        <div>
                            <button class="btn btn-primary-light btn-wave me-2 waves-effect waves-light">
                                <i class="bx bx-crown align-middle"></i> Plan Upgrade
                            </button>
                            <button class="btn btn-secondary-light btn-wave me-0 waves-effect waves-light">
                                <i class="ri-upload-cloud-line align-middle"></i> Export Report
                            </button>
                        </div>
                    </div>
                    <!-- End::page-header -->

                    <!-- Start:: row-1 -->
                    <div class="row">
                        <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="card custom-card">
                                <div class="card-body p-4">
                                    <div class="mb-4 d-flex align-items-start justify-content-between">
                                        <div class="main-card-icon secondary">
                                            <div class="avatar avatar-lg bg-secondary-transparent border border-secondary border-opacity-10">
                                                <div class="avatar avatar-sm svg-white">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><circle cx="84" cy="108" r="52" opacity="0.2"/><path d="M10.23,200a88,88,0,0,1,147.54,0" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><path d="M172,160a87.93,87.93,0,0,1,73.77,40" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><circle cx="84" cy="108" r="52" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><path d="M152.69,59.7A52,52,0,1,1,172,160" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/></svg>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="total-customers">
                                            <ApexChart TItem="CrmCustomer" Options=CrmCustomerChartOptions>
                                                <ApexPointSeries TItem="CrmCustomer" Items="crmcustomer" SeriesType="@SeriesType.Area"
                                                        XValue="@(e => e.SeriesValue)"
                                                        YAggregate="@(e => e.Sum(e => e.CrmValue))"/>
                                            </ApexChart>
                                        </div>
                                    </div>
                                    <h4 class="mb-2">1,56,290</h4>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <span class="text-muted">Total Customers</span>
                                        <span class="badge bg-danger-transparent"><i class="ti ti-trending-down me-1 d-inline-block align-middle"></i>-0.56%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="card custom-card">
                                <div class="card-body p-4">
                                    <div class="mb-4 d-flex align-items-start justify-content-between">
                                        <div class="main-card-icon success">
                                            <div class="avatar avatar-lg bg-success-transparent border border-success border-opacity-10">
                                                <div class="avatar avatar-sm svg-white">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><polygon points="232 128 232 184 128 184 128 72 24 72 24 128 232 128" opacity="0.2"/><polyline points="232 128 232 184 128 184 128 72 24 72 24 128" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/></svg>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="conversion-ratio">
                                            <ApexChart TItem="ConversionRatio" Options=ConversionRatioChartOptions>
                                                <ApexPointSeries TItem="ConversionRatio" Items="Conversionratio" SeriesType="@SeriesType.Area"
                                                        XValue="@(e => e.SeriesValue)"
                                                        YAggregate="@(e => e.Sum(e => e.ratioValue))"/>
                                            </ApexChart>
                                        </div>
                                    </div>
                                    <h4 class="mb-2">16.87%</h4>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <span class="text-muted">Conversion Ratio</span>
                                        <span class="badge bg-success-transparent"><i class="ti ti-trending-up me-1 d-inline-block align-middle"></i>+4.63%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="card custom-card">
                                <div class="card-body p-4">
                                    <div class="mb-4 d-flex align-items-start justify-content-between">
                                        <div class="main-card-icon orange">
                                            <div class="avatar avatar-lg bg-orange-transparent border border-orange border-opacity-10">
                                                <div class="avatar avatar-sm svg-white">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><path d="M128,144a191.14,191.14,0,0,1-96-25.68h0V200a8,8,0,0,0,8,8H216a8,8,0,0,0,8-8V118.31A191.08,191.08,0,0,1,128,144Z" opacity="0.2"/><line x1="112" y1="112" x2="144" y2="112" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><rect x="32" y="64" width="192" height="144" rx="8" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><path d="M168,64V48a16,16,0,0,0-16-16H104A16,16,0,0,0,88,48V64" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><path d="M224,118.31A191.09,191.09,0,0,1,128,144a191.14,191.14,0,0,1-96-25.68" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/></svg>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="total-deals">
                                            <ApexChart TItem="TotalDeals" Options=TotalDealsChartOptions>
                                                <ApexPointSeries TItem="TotalDeals" Items="totaldeals" SeriesType="@SeriesType.Area"
                                                        XValue="@(e => e.SeriesValue)"
                                                        YAggregate="@(e => e.Sum(e => e.totaldealValue))"/>
                                            </ApexChart>
                                        </div>
                                    </div>
                                    <h4 class="mb-2">$73,239</h4>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <span class="text-muted">Total Deals</span>
                                        <span class="badge bg-success-transparent"><i class="ti ti-trending-up me-1 d-inline-block align-middle"></i>+12.67%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="card custom-card card-bg-primary overflow-hidden earnings-card">
                                <div class="card-body p-0">
                                    <div class="px-3 position-absolute total-earnings-content">
                                        <span class="fs-11 mb-1 d-block fw-medium">TOTAL EARNINGS</span> 
                                        <h2 class="mb-0 text-fixed-white">$32,198</h2>  
                                        <span class="fs-12 op-8">Increased by</span><span class="text-success fs-12 ms-2 op-1"><i class="ti ti-trending-up align-middle me-1"></i>0.25%</span>
                                    </div>
                                    <div id="earnings-report">
                                        <ApexChart TItem="Earnings" Height="100" Options=earningsreportChartOptions>
                                            <ApexPointSeries TItem="Earnings"
                                                Items="earnings"
                                                SeriesType="@SeriesType.Bar"
                                                XValue="@(e => e.Series)"
                                                YAggregate="@(e => e.Sum(e => e.Earning))"/>
                                        </ApexChart>
                                    </div>
                                    <div id="earnings-report1">
                                        <ApexChart TItem="Reports" Height="140" Options=earningsreport1ChartOptions>
                                            <ApexPointSeries TItem="Reports"
                                                Items="reports"
                                                SeriesType="@SeriesType.Area"
                                                XValue="@(e => e.Series)"
                                                YAggregate="@(e => e.Sum(e => e.Report))"/>
                                        </ApexChart>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End:: row-1 -->

                    <!-- Start:: row-2 -->
                    <div class="row">
                        <div class="col-xl-9">
                            <div class="card custom-card">
                                <div class="card-header justify-content-between">
                                    <div class="card-title">
                                        REVENUE ANALYTICS
                                    </div>
                                    <div class="dropdown"> 
                                        <a href="javascript:void(0);" class="p-2 fs-12 text-muted" data-bs-toggle="dropdown" aria-expanded="true"> Sort By <i class="ri-arrow-down-s-line align-middle ms-1 d-inline-block"></i> </a> 
                                        <ul class="dropdown-menu" role="menu" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 28px);" data-popper-placement="bottom-end"> 
                                            <li><a class="dropdown-item" href="javascript:void(0);">This Week</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);">Last Week</a></li> 
                                            <li><a class="dropdown-item" href="javascript:void(0);">This Month</a></li> 
                                        </ul> 
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div id="revenue-analytics">
                                        <ApexChart TItem="Analytics" Height="310" Options=revenueanalyticsChartOptions>
                                            <ApexPointSeries TItem="Analytics"
                                                Items="analytics"
                                                SeriesType="@SeriesType.Bar"
                                                Name="Revenue"
                                                XValue="@(e => e.Month)"
                                                YAggregate="@(e => e.Sum(e => e.Revenue))"/>

                                            <ApexPointSeries TItem="Analytics"
                                                Items="analytics"
                                                SeriesType="@SeriesType.Area"
                                                Name="Profit"
                                                XValue="@(e => e.Month)"
                                                YAggregate="@(e => e.Sum(e => e.Profit))"/>
                                        </ApexChart>
                                    </div>                                
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="card custom-card">
                                <div class="card-header justify-content-between">
                                    <div class="card-title">
                                        CONTACTS BY SOURCE
                                    </div>  
                                    <div class="dropdown"> 
                                        <a href="javascript:void(0);" class="p-2 fs-12 text-muted" data-bs-toggle="dropdown" aria-expanded="true"> Sort By <i class="ri-arrow-down-s-line align-middle ms-1 d-inline-block"></i> </a> 
                                        <ul class="dropdown-menu" role="menu" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 28px);" data-popper-placement="bottom-end"> 
                                            <li><a class="dropdown-item" href="javascript:void(0);">This Week</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);">Last Week</a></li> 
                                            <li><a class="dropdown-item" href="javascript:void(0);">This Month</a></li> 
                                        </ul> 
                                    </div>
                                </div>
                                <div class="card-body mx-auto">
                                    <div id="contacts-source">
                                        <ApexChart TItem="PolarAreachart" Height="357" Options=ContactsSourceChartOptions>
                                            <ApexPointSeries TItem="PolarAreachart" Items="PolarAreaItems"
                                                SeriesType="SeriesType.PolarArea" XValue="@(e => e.SeriesData)"
                                                YAggregate="@(e => e.Sum(e => e.SeriesValue))" />
                                        </ApexChart>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End:: row-2 -->

                    <!-- Start:: row-3 -->
                    <div class="row">
                        <div class="col-xl-3">
                            <div class="card custom-card">
                                <div class="card-header justify-content-between">
                                    <div class="card-title">
                                        LEADS BY SOURCE
                                    </div>
                                    <div class="dropdown"> 
                                        <a href="javascript:void(0);" class="p-2 fs-12 text-muted" data-bs-toggle="dropdown" aria-expanded="true"> Sort By <i class="ri-arrow-down-s-line align-middle ms-1 d-inline-block"></i> </a> 
                                        <ul class="dropdown-menu" role="menu" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 28px);" data-popper-placement="bottom-end"> 
                                            <li><a class="dropdown-item" href="javascript:void(0);">This Week</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);">Last Week</a></li> 
                                            <li><a class="dropdown-item" href="javascript:void(0);">This Month</a></li> 
                                        </ul> 
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div id="leadsBySource">
                                        <ApexChart TItem="TopCountries"  Height="315" Options=LeadsBySourceChartOptions>
                                            <ApexPointSeries TItem="TopCountries"
                                                Items="topcountries"
                                                SeriesType="@SeriesType.Bar"
                                                Name="Actual"
                                                XValue="@(e => e.Actual)"
                                                YAggregate="@(e => e.Sum(e => e.TopCountriesSession))"/>
                                        </ApexChart>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="card custom-card overflow-hidden">
                                <div class="card-header justify-content-between">
                                    <div class="card-title">
                                        TOP DEALS
                                    </div>
                                    <a href="javascript:void(0);" class="fs-12 text-muted"> View All<i class="ti ti-arrow-narrow-right ms-1"></i> </a>
                                </div>
                                <div class="card-body p-0">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <th>Deal</th>
                                                    <th>Value</th>
                                                    <th class="text-center">Probability</th>
                                                    <th>Status</th>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="me-2">
                                                                <span class="avatar-sm avatar bg-primary"><i class="fe fe-terminal"></i></span>
                                                            </div>
                                                            <a href="javascript:void(0);" class="fw-medium">Et Management</a>
                                                        </div>
                                                    </td>
                                                    <td>$121K</td>
                                                    <td class="text-center">50%</td>
                                                    <td><span class="badge bg-primary-transparent">Contract Sent</span></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="me-2">
                                                                <span class="avatar-sm avatar bg-secondary">RA</span>
                                                            </div>
                                                            <a href="javascript:void(0);" class="fw-medium">Raslk Assoc</a>
                                                        </div>
                                                    </td>
                                                    <td>$68K</td>
                                                    <td class="text-center">70%</td>
                                                    <td><span class="badge bg-warning-transparent">On Hold</span></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="me-2">
                                                                <span class="avatar-sm avatar bg-orange"><i class="fe fe-monitor"></i></span>
                                                            </div>
                                                            <a href="javascript:void(0);" class="fw-medium">Sed Systems</a>
                                                        </div>
                                                    </td>
                                                    <td>$221K</td>
                                                    <td class="text-center">10%</td>
                                                    <td><span class="badge bg-danger-transparent">Contract Failed</span></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="me-2">
                                                                <span class="avatar-sm avatar bg-success">JM</span>
                                                            </div>
                                                            <a href="javascript:void(0);" class="fw-medium">Justo Manufacturers</a>
                                                        </div>
                                                    </td>
                                                    <td>$521K</td>
                                                    <td class="text-center">70%</td>
                                                    <td><span class="badge bg-success-transparent">Won</span></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="me-2">
                                                                <span class="avatar-sm avatar bg-info">AD</span>
                                                            </div>
                                                            <a href="javascript:void(0);" class="fw-medium">At Developers</a>
                                                        </div>
                                                    </td>
                                                    <td>$51K</td>
                                                    <td class="text-center">90%</td>
                                                    <td><span class="badge bg-primary-transparent">Contract Sent</span></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="me-2">
                                                                <span class="avatar-sm avatar bg-warning">JU</span>
                                                            </div>
                                                            <a href="javascript:void(0);" class="fw-medium">Jumbotrics</a>
                                                        </div>
                                                    </td>
                                                    <td>$51K</td>
                                                    <td class="text-center">90%</td>
                                                    <td><span class="badge bg-danger-transparent">Closed</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="card custom-card overflow-hidden">
                                <div class="card-header justify-content-between">
                                    <div class="card-title">
                                        ACTIVE CUSTOMERS
                                    </div>
                                    <a href="javascript:void(0);" class="fs-12 text-muted"> View All<i class="ti ti-arrow-narrow-right ms-1"></i> </a>
                                </div> 
                                <div class="card-body p-0">
                                    <ul class="list-group list-group-flush active-customers-list">
                                        <li class="list-group-item">
                                            <div class="d-flex align-items-center justify-content-between flex-wrap">
                                                <div class="d-flex align-items-center gap-2">
                                                    <div class="lh-1">
                                                        <span class="avatar avatar-xs avatar-rounded">
                                                            <img src="@($"{NavigationManager.BaseUri}assets/images/flags/us_flag.jpg")" alt="">
                                                        </span>
                                                    </div>
                                                    <div class="fw-medium">United States</div>
                                                </div>
                                                <div>
                                                    <span class="fw-medium">(32,879)</span><span class="text-success fs-12 ms-1"><i class="ti ti-trending-up me-1 d-inline-block align-middle"></i>0.65%</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="d-flex align-items-center justify-content-between flex-wrap">
                                                <div class="d-flex align-items-center gap-2">
                                                    <div class="lh-1">
                                                        <span class="avatar avatar-xs avatar-rounded">
                                                            <img src="@($"{NavigationManager.BaseUri}assets/images/flags/russia_flag.jpg")" alt="">
                                                        </span>
                                                    </div>
                                                    <div class="fw-medium">Russia</div>
                                                </div>
                                                <div>
                                                    <span class="fw-medium">(22,710)</span><span class="text-success fs-12 ms-2"><i class="ti ti-trending-up me-1 d-inline-block align-middle"></i>0.55%</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="d-flex align-items-center justify-content-between flex-wrap">
                                                <div class="d-flex align-items-center gap-2">
                                                    <div class="lh-1">
                                                        <span class="avatar avatar-xs avatar-rounded">
                                                            <img src="@($"{NavigationManager.BaseUri}assets/images/flags/germany_flag.jpg")" alt="">
                                                        </span>
                                                    </div>
                                                    <div class="fw-medium">Germany</div>
                                                </div>
                                                <div>
                                                    <span class="fw-medium">(36,291)</span><span class="text-danger fs-12 ms-2"><i class="ti ti-trending-down me-1 d-inline-block align-middle"></i>0.69%</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="d-flex align-items-center justify-content-between flex-wrap">
                                                <div class="d-flex align-items-center gap-2">
                                                    <div class="lh-1">
                                                        <span class="avatar avatar-xs avatar-rounded">
                                                            <img src="@($"{NavigationManager.BaseUri}assets/images/flags/italy_flag.jpg")" alt="">
                                                        </span>
                                                    </div>
                                                    <div class="fw-medium">Italy</div>
                                                </div>
                                                <div>
                                                    <span class="fw-medium">(45,870)</span><span class="text-success fs-12 ms-2"><i class="ti ti-trending-up me-1 d-inline-block align-middle"></i>0.86%</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="d-flex align-items-center justify-content-between flex-wrap">
                                                <div class="d-flex align-items-center gap-2">
                                                    <div class="lh-1">
                                                        <span class="avatar avatar-xs avatar-rounded">
                                                            <img src="@($"{NavigationManager.BaseUri}assets/images/flags/uae_flag.jpg")" alt="">
                                                        </span>
                                                    </div>
                                                    <div class="fw-medium">Uae</div>
                                                </div>
                                                <div>
                                                    <span class="fw-medium">(37,357)</span><span class="text-success fs-12 ms-2"><i class="ti ti-trending-up me-1 d-inline-block align-middle"></i>0.73%</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="d-flex align-items-center justify-content-between flex-wrap">
                                                <div class="d-flex align-items-center gap-2">
                                                    <div class="lh-1">
                                                        <span class="avatar avatar-xs avatar-rounded">
                                                            <img src="@($"{NavigationManager.BaseUri}assets/images/flags/spain_flag.jpg")" alt="">
                                                        </span>
                                                    </div>
                                                    <div class="fw-medium">Spain</div>
                                                </div>
                                                <div>
                                                    <span class="fw-medium">(34,798)</span><span class="text-danger fs-12 ms-2"><i class="ti ti-trending-down me-1 d-inline-block align-middle"></i>0.64%</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="d-flex align-items-center justify-content-between flex-wrap">
                                                <div class="d-flex align-items-center gap-2">
                                                    <div class="lh-1" >
                                                        <span class="avatar avatar-xs avatar-rounded">
                                                            <img src="@($"{NavigationManager.BaseUri}assets/images/flags/argentina_flag.jpg")" alt="">
                                                        </span>
                                                    </div>
                                                    <div class="fw-medium">Argentina</div>
                                                </div>
                                                <div>
                                                    <span class="fw-medium">(24,667)</span><span class="text-success fs-12 ms-2"><i class="ti ti-trending-up me-1 d-inline-block align-middle"></i>0.42%</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End:: row-3 -->

                    <!-- Start:: row-4 -->
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card custom-card overflow-hidden">
                                <div class="card-header justify-content-between">
                                    <div class="card-title">
                                        DEAL STATISTICS
                                    </div>
                                    <div class="d-flex flex-wrap gap-2"> 
                                        <div> 
                                            <input class="form-control form-control-sm" type="text" placeholder="Search Here" aria-label=".form-control-sm example"> 
                                        </div> 
                                        <div class="dropdown"> 
                                            <a href="javascript:void(0);" class="btn btn-primary btn-sm btn-wave waves-effect waves-light" data-bs-toggle="dropdown" aria-expanded="false"> Sort By<i class="ri-arrow-down-s-line align-middle ms-1 d-inline-block"></i> 
                                            </a> 
                                            <ul class="dropdown-menu" role="menu"> 
                                                <li><a class="dropdown-item" href="javascript:void(0);">New</a></li> 
                                                <li><a class="dropdown-item" href="javascript:void(0);">Popular</a></li> 
                                                <li><a class="dropdown-item" href="javascript:void(0);">Relevant</a></li> 
                                            </ul> 
                                        </div> 
                                    </div>
                                </div>
                                <div class="card-body p-0">
                                    <div class="table-responsive">
                                        <table class="table text-nowrap">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">S.No </th>
                                                    <th>Deal </th>
                                                    <th>Sales Rep</th>
                                                    <th>Mail</th>
                                                    <th>Amount</th>
                                                    <th>Location</th>
                                                    <th>Sales Cycle length</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center">
                                                        <span>
                                                            1
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span>	Xenon Tech. Ed.</span>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="me-2 lh-1">
                                                                <span class="avatar avatar-xs">
                                                                    <img src="@($"{NavigationManager.BaseUri}assets/images/faces/15.jpg")" alt="">
                                                                </span>
                                                            </div>
                                                            <div class="fs-14">Simon Cowall</div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        mayorkelly&#64;gmail.com
                                                    </td>
                                                    <td>
                                                        <span class="fw-medium fs-14">$4320.29</span>
                                                    </td>
                                                    <td>
                                                        <span class="badge bg-primary-transparent">Germany</span>
                                                    </td>
                                                    <td>
                                                        <span class="">43 Days</span>
                                                    </td>
                                                    <td>
                                                        <div class="hstack gap-2 fs-1">
                                                            <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-success-light btn-wave"><i class="ri-download-2-line"></i></a>
                                                            <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-secondary-light btn-wave"><i class="ri-edit-line"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <span>
                                                            2
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span class="fw-medium">Ideal IT Sol.</span>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="me-2 lh-1">
                                                                <span class="avatar avatar-xs">
                                                                    <img src="@($"{NavigationManager.BaseUri}assets/images/faces/4.jpg")" alt="">
                                                                </span>
                                                            </div>
                                                            <div class="fs-14">Meisha Kerr</div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        andrewgarfield&#64;gmail.com
                                                    </td>
                                                    <td>
                                                        <span class="fw-medium fs-14">$6745.99</span>
                                                    </td>
                                                    <td>
                                                        <span class="badge bg-secondary-transparent">Canada</span>
                                                    </td>
                                                    <td>
                                                        <span class="">45 Days</span>
                                                    </td>
                                                    <td>
                                                        <div class="hstack gap-2 fs-1">
                                                            <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-success-light btn-wave"><i class="ri-download-2-line"></i></a>
                                                            <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-secondary-light btn-wave"><i class="ri-edit-line"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <span>
                                                            3
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span class="fw-medium">Inferno Xo</span>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="me-2 lh-1">
                                                                <span class="avatar avatar-xs">
                                                                    <img src="@($"{NavigationManager.BaseUri}assets/images/faces/5.jpg")" alt="">
                                                                </span>
                                                            </div>
                                                            <div class="fs-14">Jessica</div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        simoncowel234&#64;gmail.com
                                                    </td>
                                                    <td>
                                                        <span class="fw-medium fs-14">$1176.89</span>
                                                    </td>
                                                    <td>
                                                        <span class="badge bg-success-transparent">Singapore</span>
                                                    </td>
                                                    <td>
                                                        <span class="">50 Days</span>
                                                    </td>
                                                    <td>
                                                        <div class="hstack gap-2 fs-1">
                                                            <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-success-light btn-wave"><i class="ri-download-2-line"></i></a>
                                                            <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-secondary-light btn-wave"><i class="ri-edit-line"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <span>
                                                            4
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span class="fw-medium">Myami Group & Tech.</span>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="me-2 lh-1">
                                                                <span class="avatar avatar-xs">
                                                                    <img src="@($"{NavigationManager.BaseUri}assets/images/faces/6.jpg")" alt="">
                                                                </span>
                                                            </div>
                                                            <div class="fs-14">Amanda B</div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        mirindahers&#64;gmail.com
                                                    </td>
                                                    <td>
                                                        <span class="fw-medium fs-14">$1899.99</span>
                                                    </td>
                                                    <td>
                                                        <span class="badge bg-orange-transparent">USA</span>
                                                    </td>
                                                    <td>
                                                        <span class="">55 Days</span>
                                                    </td>
                                                    <td>
                                                        <div class="hstack gap-2 fs-1">
                                                            <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-success-light btn-wave"><i class="ri-download-2-line"></i></a>
                                                            <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-secondary-light btn-wave"><i class="ri-edit-line"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <span>
                                                            5
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span class="fw-medium">Mevengo Tech Et Sed</span>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="me-2 lh-1">
                                                                <span class="avatar avatar-xs">
                                                                    <img src="@($"{NavigationManager.BaseUri}assets/images/faces/11.jpg")" alt="">
                                                                </span>
                                                            </div>
                                                            <div class="fs-14">Jason Stathman</div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        jacobsmith&#64;gmail.com
                                                    </td>
                                                    <td>
                                                        <span class="fw-medium fs-14">$1867.29</span>
                                                    </td>
                                                    <td>
                                                        <span class="badge bg-info-transparent">Europe</span>
                                                    </td>
                                                    <td>
                                                        <span class="">30 Days</span>
                                                    </td>
                                                    <td>
                                                        <div class="hstack gap-2 fs-1">
                                                            <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-success-light btn-wave"><i class="ri-download-2-line"></i></a>
                                                            <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-secondary-light btn-wave"><i class="ri-edit-line"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <span>
                                                            6
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span class="fw-medium">Lackme Info Et.</span>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="me-2 lh-1">
                                                                <span class="avatar avatar-xs">
                                                                    <img src="@($"{NavigationManager.BaseUri}assets/images/faces/13.jpg")" alt="">
                                                                </span>
                                                            </div>
                                                            <div class="fs-14">Khabib Hussain</div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        Hussain&#64;gmail.com
                                                    </td>
                                                    <td>
                                                        <span class="fw-medium fs-14">$2439.99</span>
                                                    </td>
                                                    <td>
                                                        <span class="badge bg-danger-transparent">Canada</span>
                                                    </td>
                                                    <td>
                                                        <span class="">35 Days</span>
                                                    </td>
                                                    <td>
                                                        <div class="hstack gap-2 fs-1">
                                                            <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-success-light btn-wave"><i class="ri-download-2-line"></i></a>
                                                            <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-secondary-light btn-wave"><i class="ri-edit-line"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="card-footer border-top-0"> 
                                    <div class="d-flex align-items-center"> 
                                        <div> Showing 6 Entries <i class="bi bi-arrow-right ms-2 fw-semibold"></i> </div>
                                        <div class="ms-auto"> 
                                        <nav aria-label="Page navigation" class="pagination-style-4"> 
                                            <ul class="pagination mb-0"> 
                                                <li class="page-item disabled"> <a class="page-link" href="javascript:void(0);"> Prev </a> </li>
                                                    <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li> 
                                                    <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li> 
                                                    <li class="page-item"> <a class="page-link text-primary" href="javascript:void(0);"> next </a> </li> 
                                                </ul> 
                                            </nav> 
                                        </div> 
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End:: row-4 -->

               
@code {

    // CRM CUSTOMER SPARKLINE Start //
    private List<CrmCustomer> crmcustomer { get; set; } = CustomerrData.GetCrmCustomers();
    private ApexChartOptions<CrmCustomer> CrmCustomerChartOptions { get; set; } = new();
    public class CrmCustomer {
        public int SeriesValue { get; set; }
        public decimal CrmValue { get; set; }
        
    } ;
    public static class CustomerrData {
            public static List<CrmCustomer> GetCrmCustomers()
            {
                List<CrmCustomer> crmcustomer = new List<CrmCustomer>
                {
                    new CrmCustomer { SeriesValue = 1, CrmValue = 0},
                    new CrmCustomer { SeriesValue = 2, CrmValue = 32},
                    new CrmCustomer { SeriesValue = 3, CrmValue = 18},
                    new CrmCustomer { SeriesValue = 4, CrmValue = 58},

                };

                return crmcustomer;
            }
    }
    //  CRM CUSTOMER SPARKLINE End //

    // Conversion Ratio SPARKLINE Start //
    private List<ConversionRatio> Conversionratio { get; set; } = conversionratioData.GetConversionRatio();
    private ApexChartOptions<ConversionRatio> ConversionRatioChartOptions { get; set; } = new();
    public class ConversionRatio {
        public int SeriesValue { get; set; }
        public decimal ratioValue { get; set; }
        
    } ;
    public static class conversionratioData {
            public static List<ConversionRatio> GetConversionRatio()
            {
                List<ConversionRatio> Conversionratio = new List<ConversionRatio>
                {
                    new ConversionRatio { SeriesValue = 1, ratioValue = 0},
                    new ConversionRatio { SeriesValue = 2, ratioValue = 32},
                    new ConversionRatio { SeriesValue = 3, ratioValue = 18},
                    new ConversionRatio { SeriesValue = 4, ratioValue = 58},

                };

                return Conversionratio;
            }
    }
    //  Conversion Ratio SPARKLINE End //

    // Total Deals Start //
    private List<TotalDeals> totaldeals { get; set; } = totaldealData.GetTotalDeals();
    private ApexChartOptions<TotalDeals> TotalDealsChartOptions { get; set; } = new();
    public class TotalDeals {
        public int SeriesValue { get; set; }
        public decimal totaldealValue { get; set; }
        
    } ;
    public static class totaldealData {
            public static List<TotalDeals> GetTotalDeals()
            {
                List<TotalDeals> totaldeals = new List<TotalDeals>
                {
                    new TotalDeals { SeriesValue = 1, totaldealValue = 0},
                    new TotalDeals { SeriesValue = 2, totaldealValue = 32},
                    new TotalDeals { SeriesValue = 3, totaldealValue = 18},
                    new TotalDeals { SeriesValue = 4, totaldealValue = 58},
                };

                return totaldeals;
            }
    }
    //  Total Deals End //

    // Earnings-Report Start //
    private List<Earnings> earnings { get; set; } = EarningsData.GetEarnings();
    private ApexChartOptions<Earnings> earningsreportChartOptions { get; set; } = new();
    public class Earnings {
        public int Series { get; set; }
        public decimal Earning { get; set; }
        
        // Add other properties as needed
    } ;
    public static class EarningsData {
        public static List<Earnings> GetEarnings() {
            // Replace this with actual data retrieval logic
            List<Earnings> earnings = new List<Earnings>
            {
                new Earnings { Series = 1, Earning = 14, },
                new Earnings { Series = 2, Earning = 12, },
                new Earnings { Series = 3, Earning = 17, },
                new Earnings { Series = 4, Earning = 16, },
                new Earnings { Series = 5, Earning = 18, },
                new Earnings { Series = 6, Earning = 15, },
                new Earnings { Series = 7, Earning = 18, },
                new Earnings { Series = 8, Earning = 23, },
                new Earnings { Series = 9, Earning = 28, },
                new Earnings { Series = 10, Earning = 44, },
                new Earnings { Series = 11, Earning = 40, },
                new Earnings { Series = 12, Earning = 34, },
                new Earnings { Series = 13, Earning = 34, },
                new Earnings { Series = 14, Earning = 22, },
                new Earnings { Series = 15, Earning = 37, },
                new Earnings { Series = 16, Earning = 46, },
                new Earnings { Series = 17, Earning = 21, },
                new Earnings { Series = 18, Earning = 35, },
                new Earnings { Series = 19, Earning = 40, },
                new Earnings { Series = 20, Earning = 34, },
                new Earnings { Series = 21, Earning = 46, },
                new Earnings { Series = 22, Earning = 55, },
                new Earnings { Series = 23, Earning = 62, },
                new Earnings { Series = 24, Earning = 55, },
                new Earnings { Series = 25, Earning = 23, },
                new Earnings { Series = 26, Earning = 11, },
                new Earnings { Series = 27, Earning = 22, },
                new Earnings { Series = 28, Earning = 27, },
                new Earnings { Series = 29, Earning = 13, },
                new Earnings { Series = 30, Earning = 22, },
                new Earnings { Series = 31, Earning = 37, },
                new Earnings { Series = 32, Earning = 21, },
                new Earnings { Series = 33, Earning = 44, },
                new Earnings { Series = 34, Earning = 22, },
                new Earnings { Series = 35, Earning = 45, },
                new Earnings { Series = 36, Earning = 35, },

                // Add more earnings as needed
            };

            return earnings;
        }
    }
    // Earnings-Report End //

    // Earnings-Report1 Start //
    private List<Reports> reports { get; set; } = ReportsData.GetReports();
    private ApexChartOptions<Reports> earningsreport1ChartOptions { get; set; } = new();
    public class Reports {
        public int Series { get; set; }
        public decimal Report { get; set; }
        
        // Add other properties as needed
    } ;
    public static class ReportsData {
        public static List<Reports> GetReports() {
            // Replace this with actual data retrieval logic
            List<Reports> reports = new List<Reports>
            {
                new Reports { Series = 1, Report = 9, },
                new Reports { Series = 2, Report = 13, },
                new Reports { Series = 3, Report = 21, },
                new Reports { Series = 4, Report = 30, },
                new Reports { Series = 5, Report = 34, },
                new Reports { Series = 6, Report = 43, },
                new Reports { Series = 7, Report = 48, },
                new Reports { Series = 8, Report = 60, },
                new Reports { Series = 9, Report = 67, },
                new Reports { Series = 10, Report = 80, },
                new Reports { Series = 11, Report = 95, },
                new Reports { Series = 12, Report = 105, },

                // Add more Reports as needed
            };

            return reports;
        }
    }
    // Earnings-Report1 End //

    // revenues Start //
    private List<Analytics> analytics { get; set; } = SampleData.GetAnalyticss();
    private ApexChartOptions<Analytics> revenueanalyticsChartOptions { get; set; } = new();
    public class Analytics {
        public string? Month { get; set; }
        public decimal Revenue { get; set; }
        public decimal Profit { get; set; }
        
        // Add other properties as needed
    } ;
    public static class SampleData {
        public static List<Analytics> GetAnalyticss() {
            // Replace this with actual data retrieval logic
            List<Analytics> analytics = new List<Analytics>
            {
                new Analytics { Month = "Jan", Revenue = 18, Profit = 34, },
                new Analytics { Month = "Feb", Revenue = 23, Profit = 38, },
                new Analytics { Month = "Mar", Revenue = 28, Profit = 46, },
                new Analytics { Month = "Apr", Revenue = 36, Profit = 55, },
                new Analytics { Month = "May", Revenue = 44, Profit = 59, },
                new Analytics { Month = "Jun", Revenue = 52, Profit = 68, },
                new Analytics { Month = "Jul", Revenue = 61, Profit = 73, },
                new Analytics { Month = "Aug", Revenue = 71, Profit = 85, },
                new Analytics { Month = "Sep", Revenue = 76, Profit = 92, },
                new Analytics { Month = "Oct", Revenue = 88, Profit = 105, },
                new Analytics { Month = "Nov", Revenue = 91, Profit = 125, },
                new Analytics { Month = "Dec", Revenue = 100, Profit = 135, },

                // Add more analytics as needed
            };

            return analytics;
        }
    }
    // revenue End //

    // Contacts Source Start //
    private List<PolarAreachart> PolarAreaItems { get; set; } = DataPolarAreachart.PolarAreaItems();
    private ApexChartOptions<PolarAreachart> ContactsSourceChartOptions { get; set; } = new();
    public static class DataPolarAreachart
    {
        public static List<PolarAreachart> PolarAreaItems()
        {
            // Sample data for PolarAreaItems
            List<PolarAreachart> PolarAreaItems = new List<PolarAreachart>
            {
                new PolarAreachart { SeriesData = "Organic Search", SeriesValue = 14, },
                new PolarAreachart { SeriesData = "Paid Search", SeriesValue = 23, },
                new PolarAreachart { SeriesData = "Direct Trafic", SeriesValue = 21, },
                new PolarAreachart { SeriesData = "Social Media", SeriesValue = 17, },
                new PolarAreachart { SeriesData = "Referrals", SeriesValue = 15, },
                new PolarAreachart { SeriesData = "Others", SeriesValue = 10, },
            };

            return PolarAreaItems;
        }
    }
    public class PolarAreachart
    {
        public string? SeriesData { get; set; }
        public int SeriesValue { get; set; }
    }
    // Contacts Source End //

    // Leads By Source Start //
    private List<TopCountries> topcountries { get; set; } = TopCountriesData.GetTopCountriess();
    private ApexChartOptions<TopCountries> LeadsBySourceChartOptions { get; set; } = new();
    public class TopCountries {
        public string? Actual { get; set; }
        public decimal TopCountriesSession { get; set; }
    } ;
    public static class TopCountriesData {
        public static List<TopCountries> GetTopCountriess() {
            // Replace this with actual data retrieval logic
            List<TopCountries> topcountries = new List<TopCountries>
            {
                new TopCountries { Actual = "Mobile", TopCountriesSession = 1292},
                new TopCountries { Actual = "Desktop", TopCountriesSession = 4432},
                new TopCountries { Actual = "Laptop", TopCountriesSession = 5423},
                new TopCountries { Actual = "Tablet", TopCountriesSession = 6653},
            };
            return topcountries;
        }
    }
    // Leads By Source End //


    protected override void OnInitialized() {

        CrmCustomerChartOptions = new ApexChartOptions<CrmCustomer> {
            Chart = new () {
                Toolbar = new ApexCharts.Toolbar {
                    Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false,Pan = false, Reset = false,  Download = false},
                }, 
                Width ="100px",
                Height ="40px",
                Sparkline = new () {
                    Enabled = true
                },
            }, 
            Tooltip = new Tooltip
            {
                Enabled = true,
                X = new TooltipX
                {
                    Show = false
                },
                Y = new TooltipY
                {
                    Title = new TooltipYTitle
                    {
                        Formatter = @"function(seriesName) {
                            return '';
                        }"
                    }
                },
                Marker = new TooltipMarker
                {
                    Show = false
                },
                Theme = ApexCharts.Mode.Dark
            },
            Colors = new Color(new List<string> { "rgb(215, 124, 247)" }),
            Stroke = new Stroke { 
                Curve = Curve.Smooth,
                LineCap = ApexCharts.LineCap.Butt,
                Width = 1.5,
            },
            Fill = new Fill {
                Type = new List<FillType> { FillType.Gradient, FillType.Gradient },
                Gradient = new FillGradient
                {
                    OpacityFrom = 0.2,
                    OpacityTo = 0.4,
                    Stops= [80, 0],
                }
            },
        };

        ConversionRatioChartOptions = new ApexChartOptions<ConversionRatio> {
            Chart = new () {
                Toolbar = new ApexCharts.Toolbar {
                    Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false,Pan = false, Reset = false,  Download = false},
                }, 
                Width ="100px",
                Height ="40px",
                Sparkline = new () {
                    Enabled = true
                },
            }, 
            Tooltip = new Tooltip
            {
                Enabled = true,
                X = new TooltipX
                {
                    Show = false
                },
                Y = new TooltipY
                {
                    Title = new TooltipYTitle
                    {
                        Formatter = @"function(seriesName) {
                            return '';
                        }"
                    }
                },
                Marker = new TooltipMarker
                {
                    Show = false
                },
                Theme = ApexCharts.Mode.Dark
            },
            Colors = new Color(new List<string> { "rgb(12, 215, 177)" }),
            Stroke = new Stroke { 
                Curve = Curve.Smooth,
                LineCap = ApexCharts.LineCap.Butt,
                Width = 1.5,
            },
            Fill = new Fill {
                Type = new List<FillType> { FillType.Gradient, FillType.Gradient },
                Gradient = new FillGradient
                {
                    OpacityFrom = 0.2,
                    OpacityTo = 0.4,
                    Stops= [80, 0],
                }
            },
        };

        TotalDealsChartOptions = new ApexChartOptions<TotalDeals> {
            Chart = new () {
                Toolbar = new ApexCharts.Toolbar {
                    Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false,Pan = false, Reset = false,  Download = false},
                }, 
                Width ="100px",
                Height ="40px",
                Sparkline = new () {
                    Enabled = true
                },
            }, 
            Colors = new Color(new List<string> { "rgb(254, 124, 88)" }),
            Stroke = new Stroke { 
                Curve = Curve.Smooth,
                LineCap = ApexCharts.LineCap.Butt,
                Width = 1.5,
            },
            Tooltip = new Tooltip
            {
                Enabled = true,
                X = new TooltipX
                {
                    Show = false
                },
                Y = new TooltipY
                {
                    Title = new TooltipYTitle
                    {
                        Formatter = @"function(seriesName) {
                            return '';
                        }"
                    }
                },
                Marker = new TooltipMarker
                {
                    Show = false
                },
                Theme = ApexCharts.Mode.Dark
            },
            Fill = new Fill {
                Type = new List<FillType> { FillType.Gradient, FillType.Gradient },
                Gradient = new FillGradient
                {
                    OpacityFrom = 0.2,
                    OpacityTo = 0.4,
                    Stops= [80, 0],
                }
            }
        };

        earningsreportChartOptions = new ApexChartOptions<Earnings> {
            
            Chart = new () {
                Toolbar = new ApexCharts.Toolbar {
                    Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false,Pan = false, Reset = false,  Download = false},
                }, 
                Stacked = true,
                Sparkline = new () {
                    Enabled = true
                },
            },
            PlotOptions = new PlotOptions
            {
                Bar = new PlotOptionsBar
                {
                    Horizontal = false,
                    ColumnWidth = "40%",
                }
            },
            Grid = new Grid {
                BorderColor = "#f2f6f7",
            },
            Colors = new Color(new List<string> { "rgba(255,255,255,0.6)" }),
            DataLabels = new DataLabels {
                Enabled = false,
            }, 
            Yaxis = new List<YAxis>() {
                new YAxis // Define the first YAxis object
                {
                    Min = 0,
                }
            },
            Xaxis =  new XAxis {
                AxisBorder = new () {
                    Show = true,
                    Color = "rgba(119, 119, 142, 0.05)",
                },
                AxisTicks = new () {
                    Show = true,
                    Color = "rgba(119, 119, 142, 0.05)",
                },
                Labels = new XAxisLabels {
                    Rotate = -90,
                },
            },
            Tooltip = new Tooltip { 
                Enabled= false,
            },
            Legend = new Legend
            {
                Show = false,
            },
        };

        earningsreport1ChartOptions = new ApexChartOptions<Reports> {
            
            Chart = new () {
                Toolbar = new ApexCharts.Toolbar {
                    Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false,Pan = false, Reset = false,  Download = false},
                }, 
                Stacked = true,
                Sparkline = new () {
                    Enabled = true
                },
                DropShadow = new ApexCharts.DropShadow {
                    Enabled = true,
                    Color = ["#000"],
                    Top = 7,
                    Left = 1,
                    Blur = 3,
                    Opacity = 0.2
                }
            },
            Grid = new Grid {
                BorderColor = "#f2f6f7",
            },
            Colors = new Color(new List<string> { "rgba(215, 124, 247, 1)" }),
            Stroke = new Stroke { 
                Curve = Curve.Smooth,
                Width= [2],
            },
            DataLabels = new DataLabels {
                Enabled = false,
            }, 
            Fill = new Fill {
                Type = new List<FillType> { FillType.Gradient, FillType.Gradient },
                Gradient = new FillGradient {
                    ShadeIntensity = 1,
                    OpacityFrom = 0.4,
                    OpacityTo = 0.1,
                    Stops= [0, 90, 100],
                    ColorStops = new List<FillGradientStops> {
                        new FillGradientStops { Offset = 0, Color = "rgba(215, 124, 247, 0.15)", Opacity = 1 },
                        new FillGradientStops { Offset = 75, Color = "rgba(215, 124, 247, 0.15)", Opacity = 1 },
                        new FillGradientStops { Offset = 100, Color = "rgba(215, 124, 247, 0.15)", Opacity = 1 }
                    }
                },
            },
            Yaxis = new List<YAxis>() {
                new YAxis // Define the first YAxis object
                {
                    Min = 0,
                }
            },
            Tooltip = new Tooltip { 
                Enabled= false,
            },
            Legend = new Legend
            {
                Show = false,
            },
        };

        revenueanalyticsChartOptions = new ApexChartOptions<Analytics> {
            
            Chart = new () {
                Toolbar = new ApexCharts.Toolbar {
                    Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false,Pan = false, Reset = false,  Download = false},
                }, 
                Stacked = false,
                DropShadow = new ApexCharts.DropShadow {
                    Enabled = true,
                    Color = ["transparent","#000"],
                    Top = 7,
                    Left = 1,
                    Blur = 3,
                    Opacity = 0.2
                }
            },
            PlotOptions = new PlotOptions
            {
                Bar = new PlotOptionsBar
                {
                    Horizontal = false,
                    BorderRadius = 3,
                    ColumnWidth = "20%",
                }
            },
            Colors = new Color(new List<string> { "var(--primary-color)", "rgb(215, 124, 247)" }),
            Stroke = new Stroke { 
                Curve = Curve.Smooth,
                Width= [0, 1.5],
                Colors = new Color(new List<string> { "transparent", "rgb(215, 124, 247)" }),
            },
            Yaxis = new List<YAxis>() {
                new YAxis // Define the first YAxis object
                {
                    Min = 0,
                }
            },
            Tooltip = new Tooltip { 
                Enabled= true,
                Theme = ApexCharts.Mode.Dark
            },
            Legend = new Legend
            {
                Position = LegendPosition.Top,
                HorizontalAlign = Align.Center,
                FontFamily = "Montserrat",
            },
            Fill = new Fill {
                Type = new List<FillType> { FillType.Solid,FillType.Gradient },
                Gradient = new ApexCharts.FillGradient {
                    Shade = ApexCharts.GradientShade.Light,
                    Type = ApexCharts.GradientType.Horizontal,
                    GradientToColors = new Color(new List<string> {"rgb(215, 124, 247)","rgb(215, 124, 247)"}),
                    ShadeIntensity = 1,
                    OpacityFrom = 0.4,
                    OpacityTo = 0.4,
                }
            },
        };

        ContactsSourceChartOptions = new ApexChartOptions<PolarAreachart>
        {
            Colors = new Color(new List<string> { "var(--primary-color)", "rgb(215, 124, 247)", "rgb(12, 215, 177)", "rgb(254, 124, 88)", "rgb(12, 163, 231)", "rgb(243, 157, 45)" }),

            Fill = new Fill {
                Opacity = 1,
            },
            Stroke = new Stroke { 
                Colors = ["#fff"],
            },
            Legend = new Legend
            {
                Position = LegendPosition.Bottom
            }

        };

        LeadsBySourceChartOptions = new ApexChartOptions<TopCountries> {
            Chart = new () {
                Toolbar = new ApexCharts.Toolbar {
                    Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false,Pan = false, Reset = false,  Download = true},
                }, 
            },
            Grid = new Grid {
                BorderColor = "#f1f1f1",
                StrokeDashArray = 3
            },
            Colors = new Color(new List<string> { "var(--primary-color)", "rgba(215, 124, 247, 1)", "rgba(12, 215, 177, 1)", "rgba(254, 124, 88, 1)" }),
            DataLabels = new DataLabels {
                Enabled = false,
            }, 
            Tooltip = new Tooltip { 
                Enabled= true,
                Theme = ApexCharts.Mode.Dark
            },
            Legend = new Legend {
                Show = false,
                Position = LegendPosition.Top,
                HorizontalAlign = Align.Center,
            },
            PlotOptions = new PlotOptions {
                Bar = new PlotOptionsBar {
                    Horizontal = false,
                    BorderRadius = 3,
                    Distributed = true,
                    ColumnWidth = "35%",
                }
            },
            Yaxis = new List<YAxis>() {
                new YAxis {
                    Min = 0,
                    Max = 7000,
                    StepSize = 1000,
                    Labels = new YAxisLabels {
                        Show = true,
                        Style = new AxisLabelStyle {
                            FontSize = "11px",
                            FontWeight = 600,
                            CssClass = "apexcharts-xaxis-label"
                        }
                    },
                },
            },
            Xaxis =  new XAxis {
                Labels = new XAxisLabels {
                    Show = true,
                    Style = new AxisLabelStyle {
                        Colors = "#8c9097",
                        FontSize = "11px",
                        FontWeight = 600,
                        CssClass = "apexcharts-xaxis-label"
                    }
                },
            },
            
        };

    }

}