@page "/crypto-currency-exchange"
@using ApexCharts
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager // This line is used to generate URLs dynamically //



                    <!-- Page Header -->
                    <div class="my-4 page-header-breadcrumb d-flex align-items-center justify-content-between flex-wrap gap-2">
                        <div>
                            <h1 class="page-title fw-medium fs-18 mb-2">Currency Exchange</h1>
                            <div class="">
                                <nav>
                                    <ol class="breadcrumb mb-0">
                                        <li class="breadcrumb-item"><a href="javascript:void(0);">Apps</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:void(0);">Crypto</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Currency Exchange</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <div class="btn-list">
                            <button class="btn btn-primary-light btn-wave me-2">
                                <i class="bx bx-crown align-middle"></i> Plan Upgrade
                            </button>
                            <button class="btn btn-secondary-light btn-wave me-0">
                                <i class="ri-upload-cloud-line align-middle"></i> Export Report
                            </button>
                        </div>
                    </div>
                    <!-- Page Header Close -->

                    <!-- Start::row-1 -->
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card custom-card currency-exchange-card">
                                <div class="card-body p-5 d-flex align-items-center justify-content-center">
                                    <div class="container">
                                        <h3 class="text-fixed-white text-center">Buy and Sell Coins without additional fees</h3>
                                        <span class="d-block fs-16 text-fixed-white text-center op-8 mb-4">
                                            Buy now and get +50% extra bonus Minimum pre-sale amount 100 Crypto Coin. We accept BTC crypto-currency..
                                        </span>
                                        <div class="p-3 mb-4 rounded currency-exchange-area">
                                            <div class="row gy-3">
                                                <div class="col-xxl-3 col-12">
                                                    <input type="text" class="form-control" value="0.0453" placeholder="Enter Amount">
                                                </div>
                                                <div class="col-xxl-2 col-12">
                                                    <div>
                                                        <select class="form-control tomselect" data-trigger name="Vacancies">
                                                            <option value="Choice 1">Bitcoin</option> 
                                                            <option value="Choice 2">Etherium</option> 
                                                            <option value="Choice 3">Litecoin</option>
                                                            <option value="Choice 4">Ripple</option>
                                                            <option value="Choice 5">Cardano</option>
                                                            <option value="Choice 6">Neo</option>
                                                            <option value="Choice 7">Stellar</option>
                                                            <option value="Choice 8">EOS</option>
                                                            <option value="Choice 9">NEM</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xxl-2 col-12">
                                                    <div class="fs-2 text-fixed-white text-center op-8 lh-1">
                                                        =
                                                    </div>
                                                </div>
                                                <div class="col-xxl-3 col-12">
                                                    <input type="text" class="form-control" value="1350.93" placeholder="Exchange Amount">
                                                </div>
                                                <div class="col-xxl-2 col-12">
                                                    <select class="form-control tomselect" data-trigger name="Vacancies">
                                                        <option value="Choice 1">USD</option> 
                                                        <option value="Choice 2">Pound</option> 
                                                        <option value="Choice 3">Rupee</option>
                                                        <option value="Choice 4">Euro</option>
                                                        <option value="Choice 5">Won</option>
                                                        <option value="Choice 6">Dinar</option>
                                                        <option value="Choice 7">Rial</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button class="btn btn-success btn-wave">Exchange Now</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End::row-1 -->

                    <!-- Start:: row-2 -->
                    <div class="row justify-content-center">
                        <div class="col-xl-3">
                            <div class="card custom-card overflow-hidden">
                                <div class="card-body mb-3">
                                    <div class="d-flex align-items-top justify-content-between mb-3 flex-wrap">
                                        <div>
                                            <div class="d-flex align-items-center gap-2 mb-3">
                                                <div class="lh-1">
                                                    <span class="avatar avatar-rounded avatar-xs">
                                                        <img src="@($"{NavigationManager.BaseUri}assets/images/crypto-currencies/square-color/Bitcoin.svg")" alt="">
                                                    </span>
                                                </div>
                                                <h6 class="fw-medium mb-0">Bitcoin - BTC</h6>
                                            </div>
                                            <span class="fs-25 d-flex align-items-center">24.3% <span class="fs-12 text-warning op-7 ms-2">+0.59<i class="ti ti-arrow-big-up-line ms-1 d-inline-flex"></i></span><span class="badge bg-success-transparent fs-10 ms-2">24H</span></span>
                                        </div>
                                        <div class="text-end">
                                            <span class="d-block fs-14 mb-1 text-primary">0.00434</span>
                                            <span class="d-block text-success fw-medium">$30.29</span>
                                        </div>
                                    </div>
                                </div>
                                <div id="btc-currency-chart" class="mt-1 w-100">
                                    <ApexChart TItem="BtcChart" Options=BtcChartOptions>
                                        <ApexPointSeries TItem="BtcChart" Items="btcchart" SeriesType="@SeriesType.Line"
                                            XValue="@(e => e.BtcSeries)"
                                            YAggregate="@(e => e.Sum(e => e.BtcValue))"/>
                                    </ApexChart>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="card custom-card overflow-hidden">
                                <div class="card-body mb-3">
                                    <div class="d-flex align-items-top justify-content-between mb-3 flex-wrap">
                                        <div>
                                            <div class="d-flex align-items-center gap-2 mb-3">
                                                <div class="lh-1">
                                                    <span class="avatar avatar-rounded avatar-xs">
                                                        <img src="@($"{NavigationManager.BaseUri}assets/images/crypto-currencies/square-color/Ethereum.svg")" alt="">
                                                    </span>
                                                </div>
                                                <h6 class="fw-medium mb-0">Etherium - ETH</h6>
                                            </div>
                                            <span class="fs-25 d-flex align-items-center">17.67% <span class="fs-12 text-warning op-7 ms-2">+1.30<i class="ti ti-arrow-big-up-line ms-1 d-inline-flex"></i></span></span>
                                        </div>
                                        <div class="text-end">
                                            <span class="d-block fs-14 mb-1 text-secondary">1.2923</span>
                                            <span class="d-block text-success fw-medium">$2,283.73</span>
                                        </div>
                                    </div>
                                </div>
                                <div id="eth-currency-chart" class="mt-1 w-100">
                                    <ApexChart TItem="EthChart" Options=EthChartOptions>
                                        <ApexPointSeries TItem="EthChart" Items="ethchart" SeriesType="@SeriesType.Line"
                                            XValue="@(e => e.EthSeries)"
                                            YAggregate="@(e => e.Sum(e => e.EthValue))"/>
                                    </ApexChart>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="card custom-card overflow-hidden">
                                <div class="card-body mb-3">
                                    <div class="d-flex align-items-top justify-content-between mb-3 flex-wrap">
                                        <div>
                                            <div class="d-flex align-items-center gap-2 mb-3">
                                                <div class="lh-1">
                                                    <span class="avatar avatar-rounded avatar-xs">
                                                        <img src="@($"{NavigationManager.BaseUri}assets/images/crypto-currencies/square-color/Dash.svg")" alt="">
                                                    </span>
                                                </div>
                                                <h6 class="fw-medium mb-0">Dash - DASH</h6>
                                            </div>
                                            <span class="fs-25 d-flex align-items-center">17.67% <span class="fs-12 text-warning op-7 ms-2">+1.30<i class="ti ti-arrow-big-up-line ms-1 d-inline-flex"></i></span></span>
                                        </div>
                                        <div class="text-end">
                                            <span class="d-block fs-14 mb-1 text-success">1.2923</span>
                                            <span class="d-block text-success fw-medium">$2,283.73</span>
                                        </div>
                                    </div>
                                </div>
                                <div id="dash-currency-chart" class="mt-1 w-100">
                                    <ApexChart TItem="DashChart" Options=DashChartOptions>
                                        <ApexPointSeries TItem="DashChart" Items="dashchart" SeriesType="@SeriesType.Line"
                                            XValue="@(e => e.DashSeries)"
                                            YAggregate="@(e => e.Sum(e => e.DashValue))"/>
                                    </ApexChart>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="card custom-card overflow-hidden">
                                <div class="card-body mb-3">
                                    <div class="d-flex align-items-top justify-content-between mb-3 flex-wrap">
                                        <div>
                                            <div class="d-flex align-items-center gap-2 mb-3">
                                                <div class="lh-1">
                                                    <span class="avatar avatar-rounded avatar-xs">
                                                        <img src="@($"{NavigationManager.BaseUri}assets/images/crypto-currencies/square-color/Litecoin.svg")" alt="">
                                                    </span>
                                                </div>
                                                <h6 class="fw-medium mb-0">Litecoin - LTC</h6>
                                            </div>
                                            <span class="fs-25 d-flex align-items-center">17.67% <span class="fs-12 text-warning op-7 ms-2">+1.30<i class="ti ti-arrow-big-up-line ms-1 d-inline-flex"></i></span></span>
                                        </div>
                                        <div class="text-end">
                                            <span class="d-block fs-14 mb-1 text-warning">1.2923</span>
                                            <span class="d-block text-success fw-medium">$2,283.73</span>
                                        </div>
                                    </div>
                                </div>
                                <div id="ltc-currency-chart" class="mt-1 w-100">
                                    <ApexChart TItem="LtcChart" Options=LtcChartOptions>
                                        <ApexPointSeries TItem="LtcChart" Items="ltcchart" SeriesType="@SeriesType.Line"
                                            XValue="@(e => e.LtcSeries)"
                                            YAggregate="@(e => e.Sum(e => e.LtcValue))"/>
                                    </ApexChart>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="card custom-card overflow-hidden">
                                <div class="card-body mb-3">
                                    <div class="d-flex align-items-top justify-content-between mb-3 flex-wrap">
                                        <div>
                                            <div class="d-flex align-items-center gap-2 mb-3">
                                                <div class="lh-1">
                                                    <span class="avatar avatar-rounded avatar-xs">
                                                        <img src="@($"{NavigationManager.BaseUri}assets/images/crypto-currencies/square-color/Ripple.svg")" alt="">
                                                    </span>
                                                </div>
                                                <h6 class="fw-medium mb-0">Ripple - XRS</h6>
                                            </div>
                                            <span class="fs-25 d-flex align-items-center">17.67% <span class="fs-12 text-warning op-7 ms-2">+1.30<i class="ti ti-arrow-big-up-line ms-1 d-inline-flex"></i></span></span>
                                        </div>
                                        <div class="text-end">
                                            <span class="d-block fs-14 mb-1 text-pink">1.2923</span>
                                            <span class="d-block text-success fw-medium">$2,283.73</span>
                                        </div>
                                    </div>
                                </div>
                                <div id="xrs-currency-chart" class="mt-1 w-100">
                                    <ApexChart TItem="XrsChart" Options=XrsChartOptions>
                                        <ApexPointSeries TItem="XrsChart" Items="xrschart" SeriesType="@SeriesType.Line"
                                            XValue="@(e => e.XrsSeries)"
                                            YAggregate="@(e => e.Sum(e => e.XrsValue))"/>
                                    </ApexChart>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="card custom-card overflow-hidden">
                                <div class="card-body mb-3">
                                    <div class="d-flex align-items-top justify-content-between mb-3 flex-wrap">
                                        <div>
                                            <div class="d-flex align-items-center gap-2 mb-3">
                                                <div class="lh-1">
                                                    <span class="avatar avatar-rounded avatar-xs">
                                                        <img src="@($"{NavigationManager.BaseUri}assets/images/crypto-currencies/square-color/Golem.svg")" alt="">
                                                    </span>
                                                </div>
                                                <h6 class="fw-medium mb-0">Golem - GLM</h6>
                                            </div>
                                            <span class="fs-25 d-flex align-items-center">17.67% <span class="fs-12 text-warning op-7 ms-2">+1.30<i class="ti ti-arrow-big-up-line ms-1 d-inline-flex"></i></span></span>
                                        </div>
                                        <div class="text-end">
                                            <span class="d-block fs-14 mb-1 text-purple">1.2923</span>
                                            <span class="d-block text-success fw-medium">$2,283.73</span>
                                        </div>
                                    </div>
                                </div>
                                <div id="glm-currency-chart" class="mt-1 w-100">
                                    <ApexChart TItem="GlmChart" Options=GlmChartOptions>
                                        <ApexPointSeries TItem="GlmChart" Items="glmchart" SeriesType="@SeriesType.Line"
                                            XValue="@(e => e.GlmSeries)"
                                            YAggregate="@(e => e.Sum(e => e.GlmValue))"/>
                                    </ApexChart>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="card custom-card overflow-hidden">
                                <div class="card-body mb-3">
                                    <div class="d-flex align-items-top justify-content-between mb-3 flex-wrap">
                                        <div>
                                            <div class="d-flex align-items-center gap-2 mb-3">
                                                <div class="lh-1">
                                                    <span class="avatar avatar-rounded avatar-xs">
                                                        <img src="@($"{NavigationManager.BaseUri}assets/images/crypto-currencies/square-color/Monero.svg")" alt="">
                                                    </span>
                                                </div>
                                                <h6 class="fw-medium mb-0">Monero</h6>
                                            </div>
                                            <span class="fs-25 d-flex align-items-center">17.67% <span class="fs-12 text-warning op-7 ms-2">+1.30<i class="ti ti-arrow-big-up-line ms-1 d-inline-flex"></i></span></span>
                                        </div>
                                        <div class="text-end">
                                            <span class="d-block fs-14 mb-1 text-danger">1.2923</span>
                                            <span class="d-block text-success fw-medium">$2,283.73</span>
                                        </div>
                                    </div>
                                </div>
                                <div id="monero-currency-chart" class="mt-1 w-100">
                                    <ApexChart TItem="MoneroChart" Options=MoneroChartOptions>
                                        <ApexPointSeries TItem="MoneroChart" Items="monerochart" SeriesType="@SeriesType.Line"
                                            XValue="@(e => e.MoneroSeries)"
                                            YAggregate="@(e => e.Sum(e => e.MoneroValue))"/>
                                    </ApexChart>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="card custom-card overflow-hidden">
                                <div class="card-body mb-3">
                                    <div class="d-flex align-items-top justify-content-between mb-3 flex-wrap">
                                        <div>
                                            <div class="d-flex align-items-center gap-2 mb-3">
                                                <div class="lh-1">
                                                    <span class="avatar avatar-rounded avatar-xs">
                                                        <img src="@($"{NavigationManager.BaseUri}assets/images/crypto-currencies/square-color/EOS.svg")" alt="">
                                                    </span>
                                                </div>
                                                <h6 class="fw-medium mb-0">EOS</h6>
                                            </div>
                                            <span class="fs-25 d-flex align-items-center">17.67% <span class="fs-12 text-warning op-7 ms-2">+1.30<i class="ti ti-arrow-big-up-line ms-1 d-inline-flex"></i></span></span>
                                        </div>
                                        <div class="text-end">
                                            <span class="d-block fs-14 mb-1 text-info">1.2923</span>
                                            <span class="d-block text-success fw-medium">$2,283.73</span>
                                        </div>
                                    </div>
                                </div>
                                <div id="eos-currency-chart" class="mt-1 w-100">
                                    <ApexChart TItem="EosChart" Options=EosChartOptions>
                                        <ApexPointSeries TItem="EosChart" Items="eoschart" SeriesType="@SeriesType.Line"
                                            XValue="@(e => e.EosSeries)"
                                            YAggregate="@(e => e.Sum(e => e.EosValue))"/>
                                    </ApexChart>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="text-center my-4">
                                <button class="btn btn-primary-light" type="button" disabled>
                                    <span class="spinner-border spinner-border-sm align-middle" role="status"
                                        aria-hidden="true"></span>
                                    Loading...
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- End:: row-2 -->

  
        <!-- TomSelect JS -->
        <script src="@($"{NavigationManager.BaseUri}assets/libs/tom-select/js/tom-select.complete.min.js")"></script>
        <script src="@($"{NavigationManager.BaseUri}assets/js/tomselect.js")"></script>

@code {

    // BTH Stock Chart  Start //
    private List<BtcChart> btcchart { get; set; } = BtcchartData.GetBtcCharts();
    private ApexChartOptions<BtcChart> BtcChartOptions { get; set; } = new();
    public class BtcChart {
        public decimal BtcSeries { get; set; }
        public decimal BtcValue { get; set; }
        
    } ;
    public static class BtcchartData {
            public static List<BtcChart> GetBtcCharts()
            {
                List<BtcChart> btcchart = new List<BtcChart>
                {
                    new BtcChart { BtcSeries = 1, BtcValue = 54},
                    new BtcChart { BtcSeries = 2, BtcValue = 38},
                    new BtcChart { BtcSeries = 3, BtcValue = 56},
                    new BtcChart { BtcSeries = 4, BtcValue = 35},
                    new BtcChart { BtcSeries = 5, BtcValue = 65},
                    new BtcChart { BtcSeries = 6, BtcValue = 43},
                    new BtcChart { BtcSeries = 7, BtcValue = 53},
                    new BtcChart { BtcSeries = 8, BtcValue = 45},
                    new BtcChart { BtcSeries = 9, BtcValue = 62},
                    new BtcChart { BtcSeries = 10, BtcValue = 80},
                    new BtcChart { BtcSeries = 11, BtcValue = 35},
                    new BtcChart { BtcSeries = 12, BtcValue = 48},

                };

                return btcchart;
            }
    }
    //  BTH Stock Chart End //

    // ETH Stock Chart  Start //
    private List<EthChart> ethchart { get; set; } = EthchartData.GetEthCharts();
    private ApexChartOptions<EthChart> EthChartOptions { get; set; } = new();
    public class EthChart {
        public decimal EthSeries { get; set; }
        public decimal EthValue { get; set; }
        
    } ;
    public static class EthchartData {
            public static List<EthChart> GetEthCharts()
            {
                List<EthChart> ethchart = new List<EthChart>
                {
                    new EthChart { EthSeries = 1, EthValue = 54},
                    new EthChart { EthSeries = 2, EthValue = 38},
                    new EthChart { EthSeries = 3, EthValue = 56},
                    new EthChart { EthSeries = 4, EthValue = 35},
                    new EthChart { EthSeries = 5, EthValue = 65},
                    new EthChart { EthSeries = 6, EthValue = 43},
                    new EthChart { EthSeries = 7, EthValue = 53},
                    new EthChart { EthSeries = 8, EthValue = 45},
                    new EthChart { EthSeries = 9, EthValue = 62},
                    new EthChart { EthSeries = 10, EthValue = 80},
                    new EthChart { EthSeries = 11, EthValue = 35},
                    new EthChart { EthSeries = 12, EthValue = 48},

                };

                return ethchart;
            }
    }
    // ETH Stock Chart End //

    // DASH Stock Chart  Start //
    private List<DashChart> dashchart { get; set; } = DashchartData.GetDashCharts();
    private ApexChartOptions<DashChart> DashChartOptions { get; set; } = new();
    public class DashChart {
        public decimal DashSeries { get; set; }
        public decimal DashValue { get; set; }
        
    } ;
    public static class DashchartData {
            public static List<DashChart> GetDashCharts()
            {
                List<DashChart> dashchart = new List<DashChart>
                {
                    new DashChart { DashSeries = 1, DashValue = 54},
                    new DashChart { DashSeries = 2, DashValue = 38},
                    new DashChart { DashSeries = 3, DashValue = 56},
                    new DashChart { DashSeries = 4, DashValue = 35},
                    new DashChart { DashSeries = 5, DashValue = 65},
                    new DashChart { DashSeries = 6, DashValue = 43},
                    new DashChart { DashSeries = 7, DashValue = 53},
                    new DashChart { DashSeries = 8, DashValue = 45},
                    new DashChart { DashSeries = 9, DashValue = 62},
                    new DashChart { DashSeries = 10, DashValue = 80},
                    new DashChart { DashSeries = 11, DashValue = 35},
                    new DashChart { DashSeries = 12, DashValue = 48},

                };

                return dashchart;
            }
    }
    //  DASH Stock Chart End //

    // LTC Stock Chart  Start //
    private List<LtcChart> ltcchart { get; set; } = LtcchartData.GetLtcCharts();
    private ApexChartOptions<LtcChart> LtcChartOptions { get; set; } = new();
    public class LtcChart {
        public decimal LtcSeries { get; set; }
        public decimal LtcValue { get; set; }
        
    } ;
    public static class LtcchartData {
            public static List<LtcChart> GetLtcCharts()
            {
                List<LtcChart> ltcchart = new List<LtcChart>
                {
                    new LtcChart { LtcSeries = 1, LtcValue = 54},
                    new LtcChart { LtcSeries = 2, LtcValue = 38},
                    new LtcChart { LtcSeries = 3, LtcValue = 56},
                    new LtcChart { LtcSeries = 4, LtcValue = 35},
                    new LtcChart { LtcSeries = 5, LtcValue = 65},
                    new LtcChart { LtcSeries = 6, LtcValue = 43},
                    new LtcChart { LtcSeries = 7, LtcValue = 53},
                    new LtcChart { LtcSeries = 8, LtcValue = 45},
                    new LtcChart { LtcSeries = 9, LtcValue = 62},
                    new LtcChart { LtcSeries = 10, LtcValue = 80},
                    new LtcChart { LtcSeries = 11, LtcValue = 35},
                    new LtcChart { LtcSeries = 12, LtcValue = 48},

                };

                return ltcchart;
            }
    }
    //  LTC Stock Chart End //

    // XRS Stock Chart  Start //
    private List<XrsChart> xrschart { get; set; } = XrschartData.GetXrsCharts();
    private ApexChartOptions<XrsChart> XrsChartOptions { get; set; } = new();
    public class XrsChart {
        public decimal XrsSeries { get; set; }
        public decimal XrsValue { get; set; }
        
    } ;
    public static class XrschartData {
            public static List<XrsChart> GetXrsCharts()
            {
                List<XrsChart> xrschart = new List<XrsChart>
                {
                    new XrsChart { XrsSeries = 1, XrsValue = 54},
                    new XrsChart { XrsSeries = 2, XrsValue = 38},
                    new XrsChart { XrsSeries = 3, XrsValue = 56},
                    new XrsChart { XrsSeries = 4, XrsValue = 35},
                    new XrsChart { XrsSeries = 5, XrsValue = 65},
                    new XrsChart { XrsSeries = 6, XrsValue = 43},
                    new XrsChart { XrsSeries = 7, XrsValue = 53},
                    new XrsChart { XrsSeries = 8, XrsValue = 45},
                    new XrsChart { XrsSeries = 9, XrsValue = 62},
                    new XrsChart { XrsSeries = 10, XrsValue = 80},
                    new XrsChart { XrsSeries = 11, XrsValue = 35},
                    new XrsChart { XrsSeries = 12, XrsValue = 48},

                };

                return xrschart;
            }
    }
    //  XRS Stock Chart End //

    // GLM Stock Chart  Start //
    private List<GlmChart> glmchart { get; set; } = GlmchartData.GetGlmCharts();
    private ApexChartOptions<GlmChart> GlmChartOptions { get; set; } = new();
    public class GlmChart {
        public decimal GlmSeries { get; set; }
        public decimal GlmValue { get; set; }
        
    } ;
    public static class GlmchartData {
            public static List<GlmChart> GetGlmCharts()
            {
                List<GlmChart> glmchart = new List<GlmChart>
                {
                    new GlmChart { GlmSeries = 1, GlmValue = 54},
                    new GlmChart { GlmSeries = 2, GlmValue = 38},
                    new GlmChart { GlmSeries = 3, GlmValue = 56},
                    new GlmChart { GlmSeries = 4, GlmValue = 35},
                    new GlmChart { GlmSeries = 5, GlmValue = 65},
                    new GlmChart { GlmSeries = 6, GlmValue = 43},
                    new GlmChart { GlmSeries = 7, GlmValue = 53},
                    new GlmChart { GlmSeries = 8, GlmValue = 45},
                    new GlmChart { GlmSeries = 9, GlmValue = 62},
                    new GlmChart { GlmSeries = 10, GlmValue = 80},
                    new GlmChart { GlmSeries = 11, GlmValue = 35},
                    new GlmChart { GlmSeries = 12, GlmValue = 48},

                };

                return glmchart;
            }
    }
    //  GLM Stock Chart End //

    // Monero Stock Chart  Start //
    private List<MoneroChart> monerochart { get; set; } = MonerochartData.GetMoneroCharts();
    private ApexChartOptions<MoneroChart> MoneroChartOptions { get; set; } = new();
    public class MoneroChart {
        public decimal MoneroSeries { get; set; }
        public decimal MoneroValue { get; set; }
        
    } ;
    public static class MonerochartData {
            public static List<MoneroChart> GetMoneroCharts()
            {
                List<MoneroChart> monerochart = new List<MoneroChart>
                {
                    new MoneroChart { MoneroSeries = 1, MoneroValue = 54},
                    new MoneroChart { MoneroSeries = 2, MoneroValue = 38},
                    new MoneroChart { MoneroSeries = 3, MoneroValue = 56},
                    new MoneroChart { MoneroSeries = 4, MoneroValue = 35},
                    new MoneroChart { MoneroSeries = 5, MoneroValue = 65},
                    new MoneroChart { MoneroSeries = 6, MoneroValue = 43},
                    new MoneroChart { MoneroSeries = 7, MoneroValue = 53},
                    new MoneroChart { MoneroSeries = 8, MoneroValue = 45},
                    new MoneroChart { MoneroSeries = 9, MoneroValue = 62},
                    new MoneroChart { MoneroSeries = 10, MoneroValue = 80},
                    new MoneroChart { MoneroSeries = 11, MoneroValue = 35},
                    new MoneroChart { MoneroSeries = 12, MoneroValue = 48},

                };

                return monerochart;
            }
    }
    //  Monero Stock Chart End //

    // EOS Stock Chart  Start //
    private List<EosChart> eoschart { get; set; } = EoschartData.GetEosCharts();
    private ApexChartOptions<EosChart> EosChartOptions { get; set; } = new();
    public class EosChart {
        public decimal EosSeries { get; set; }
        public decimal EosValue { get; set; }
        
    } ;
    public static class EoschartData {
            public static List<EosChart> GetEosCharts()
            {
                List<EosChart> eoschart = new List<EosChart>
                {
                    new EosChart { EosSeries = 1, EosValue = 54},
                    new EosChart { EosSeries = 2, EosValue = 38},
                    new EosChart { EosSeries = 3, EosValue = 56},
                    new EosChart { EosSeries = 4, EosValue = 35},
                    new EosChart { EosSeries = 5, EosValue = 65},
                    new EosChart { EosSeries = 6, EosValue = 43},
                    new EosChart { EosSeries = 7, EosValue = 53},
                    new EosChart { EosSeries = 8, EosValue = 45},
                    new EosChart { EosSeries = 9, EosValue = 62},
                    new EosChart { EosSeries = 10, EosValue = 80},
                    new EosChart { EosSeries = 11, EosValue = 35},
                    new EosChart { EosSeries = 12, EosValue = 48},

                };

                return eoschart;
            }
    }
    //  EOS Stock Chart End //

    protected override void OnInitialized() {

        BtcChartOptions = new ApexChartOptions<BtcChart> {
            Chart = new () {
                Toolbar = new ApexCharts.Toolbar {
                    Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false,Pan = false, Reset = false,  Download = false},
                }, 
                Height ="60px",
                Sparkline = new () {
                    Enabled = true
                },
                DropShadow = new ApexCharts.DropShadow {
                    Enabled = true,
                    Color = "#fff",
                    Top = 0,
                    Left = 0,
                    Blur = 1,
                    Opacity = 0.05,
                },
            },  
            Tooltip = new Tooltip { 
                Enabled= false,
            },
            Yaxis = new List<YAxis>() {
                new YAxis
                {
                    Min = 30,
                    Max = 90,
                    StepSize = 10,
                },
            },
            Colors = new Color(new List<string> { "rgba(84, 109, 254,0.5)" }),
            Stroke = new Stroke { 
                Curve = Curve.Smooth,
                LineCap = ApexCharts.LineCap.Butt,
                Width = 1,
                DashArray = 0,
            },
        };

        EthChartOptions = new ApexChartOptions<EthChart> {
            Chart = new () {
                Toolbar = new ApexCharts.Toolbar {
                    Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false,Pan = false, Reset = false,  Download = false},
                }, 
                Height ="60px",
                Sparkline = new () {
                    Enabled = true
                },
                DropShadow = new ApexCharts.DropShadow {
                    Enabled = true,
                    Color = "#fff",
                    Top = 0,
                    Left = 0,
                    Blur = 1,
                    Opacity = 0.05,
                },
            },  
            Tooltip = new Tooltip { 
                Enabled= false,
            },
            Yaxis = new List<YAxis>() {
                new YAxis
                {
                    Min = 30,
                    Max = 90,
                    StepSize = 10,
                },
            },
            Colors = new Color(new List<string> { "rgba(106, 78, 237,0.5)" }),
            Stroke = new Stroke { 
                Curve = Curve.Smooth,
                LineCap = ApexCharts.LineCap.Butt,
                Width = 1,
                DashArray = 0,
            },
        };

        DashChartOptions = new ApexChartOptions<DashChart> {
            Chart = new () {
                Toolbar = new ApexCharts.Toolbar {
                    Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false,Pan = false, Reset = false,  Download = false},
                }, 
                Height ="60px",
                Sparkline = new () {
                    Enabled = true
                },
                DropShadow = new ApexCharts.DropShadow {
                    Enabled = true,
                    Color = "#fff",
                    Top = 0,
                    Left = 0,
                    Blur = 1,
                    Opacity = 0.05,
                },
            },  
            Yaxis = new List<YAxis>() {
                new YAxis
                {
                    Min = 30,
                    Max = 90,
                    StepSize = 10,
                },
            },
            Tooltip = new Tooltip { 
                Enabled= false,
            },
            Colors = new Color(new List<string> { "rgba(10, 145, 81,0.5)" }),
            Stroke = new Stroke { 
                Curve = Curve.Smooth,
                LineCap = ApexCharts.LineCap.Butt,
                Width = 1,
                DashArray = 0,
            },
        };

        LtcChartOptions = new ApexChartOptions<LtcChart> {
            Chart = new () {
                Toolbar = new ApexCharts.Toolbar {
                    Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false,Pan = false, Reset = false,  Download = false},
                }, 
                Height ="60px",
                Sparkline = new () {
                    Enabled = true
                },
                DropShadow = new ApexCharts.DropShadow {
                    Enabled = true,
                    Color = "#fff",
                    Top = 0,
                    Left = 0,
                    Blur = 1,
                    Opacity = 0.05,
                },
            },  
            Yaxis = new List<YAxis>() {
                new YAxis
                {
                    Min = 30,
                    Max = 90,
                    StepSize = 10,
                },
            },
            Tooltip = new Tooltip { 
                Enabled= false,
            },
            Colors = new Color(new List<string> { "rgba(227, 192, 11, 0.5)" }),
            Stroke = new Stroke { 
                Curve = Curve.Smooth,
                LineCap = ApexCharts.LineCap.Butt,
                Width = 1,
                DashArray = 0,
            },
        };

        XrsChartOptions = new ApexChartOptions<XrsChart> {
            Chart = new () {
                Toolbar = new ApexCharts.Toolbar {
                    Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false,Pan = false, Reset = false,  Download = false},
                }, 
                Height ="60px",
                Sparkline = new () {
                    Enabled = true
                },
                DropShadow = new ApexCharts.DropShadow {
                    Enabled = true,
                    Color = "#fff",
                    Top = 0,
                    Left = 0,
                    Blur = 1,
                    Opacity = 0.05,
                },
            },  
            Yaxis = new List<YAxis>() {
                new YAxis
                {
                    Min = 30,
                    Max = 90,
                    StepSize = 10,
                },
            },
            Tooltip = new Tooltip { 
                Enabled= false,
            },
            Colors = new Color(new List<string> { "rgba(252, 108, 133, 0.5)" }),
            Stroke = new Stroke { 
                Curve = Curve.Smooth,
                LineCap = ApexCharts.LineCap.Butt,
                Width = 1,
                DashArray = 0,
            },
        };

        GlmChartOptions = new ApexChartOptions<GlmChart> {
            Chart = new () {
                Toolbar = new ApexCharts.Toolbar {
                    Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false,Pan = false, Reset = false,  Download = false},
                }, 
                Height ="60px",
                Sparkline = new () {
                    Enabled = true
                },
                DropShadow = new ApexCharts.DropShadow {
                    Enabled = true,
                    Color = "#fff",
                    Top = 0,
                    Left = 0,
                    Blur = 1,
                    Opacity = 0.05,
                },
            },  
            Yaxis = new List<YAxis>() {
                new YAxis
                {
                    Min = 30,
                    Max = 90,
                    StepSize = 10,
                },
            },
            Tooltip = new Tooltip { 
                Enabled= false,
            },
            Colors = new Color(new List<string> { "rgba(215, 124, 247, 0.5)" }),
            Stroke = new Stroke { 
                Curve = Curve.Smooth,
                LineCap = ApexCharts.LineCap.Butt,
                Width = 1,
                DashArray = 0,
            },
        };

        MoneroChartOptions = new ApexChartOptions<MoneroChart> {
            Chart = new () {
                Toolbar = new ApexCharts.Toolbar {
                    Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false,Pan = false, Reset = false,  Download = false},
                }, 
                Height ="60px",
                Sparkline = new () {
                    Enabled = true
                },
                DropShadow = new ApexCharts.DropShadow {
                    Enabled = true,
                    Color = "#fff",
                    Top = 0,
                    Left = 0,
                    Blur = 1,
                    Opacity = 0.05,
                },
            },  
            Yaxis = new List<YAxis>() {
                new YAxis
                {
                    Min = 30,
                    Max = 90,
                    StepSize = 10,
                },
            },
            Tooltip = new Tooltip { 
                Enabled= false,
            },
            Colors = new Color(new List<string> { "rgba(237, 78, 131, 0.5)" }),
            Stroke = new Stroke { 
                Curve = Curve.Smooth,
                LineCap = ApexCharts.LineCap.Butt,
                Width = 1,
                DashArray = 0,
            },
        };

        EosChartOptions = new ApexChartOptions<EosChart> {
            Chart = new () {
                Toolbar = new ApexCharts.Toolbar {
                    Tools = new Tools { Zoom = false, Zoomin = false, Zoomout = false,Pan = false, Reset = false,  Download = false},
                }, 
                Height ="60px",
                Sparkline = new () {
                    Enabled = true
                },
                DropShadow = new ApexCharts.DropShadow {
                    Enabled = true,
                    Color = "#fff",
                    Top = 0,
                    Left = 0,
                    Blur = 1,
                    Opacity = 0.05,
                },
            },  
            Tooltip = new Tooltip { 
                Enabled= false,
            },
            Yaxis = new List<YAxis>() {
                new YAxis
                {
                    Min = 30,
                    Max = 90,
                    StepSize = 10,
                },
            },
            Colors = new Color(new List<string> { "rgba(70, 178, 201, 0.5)" }),
            Stroke = new Stroke { 
                Curve = Curve.Smooth,
                LineCap = ApexCharts.LineCap.Butt,
                Width = 1,
                DashArray = 0,
            },
        };

    }
}